

//SEPERATE INTO SMALLER PARTIALS IF NECESSARY AFTER DEV STAGE


// /* DEFAULT YOUTUBE AND VIMEO OG WIDGET STYLES */

ucl-widget[type="youtube"], ucl-widget[type="vimeo"]{
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    display:block;
    	iframe {
			position: absolute;
    		top: 0;
   			left: 0;
    		width: 100%;
   			height: 100%;
    		border: 0;
		}
}

// VIDEO WITH CAPTION

//BOOTSTRAP LAYOUT

.video__embed--video {
 @include make-col-ready();

@include media-breakpoint-up(lg) {
    
    @include make-col(10);
 }

}

.video__embed--text {
	line-height: normal;

 @include make-col-ready();

 @include media-breakpoint-up(lg) {
    
    @include make-col(2);
  }

}

// INDIGO STYLING

.video__embed--wrapper {
	margin-bottom: 30px;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,214,214,1) 8%, rgba(214,214,214,1) 100%);
	margin-top: 60px; 
	margin-right: -16px;
@include media-breakpoint-up(sm) {
		margin-bottom: 20px;
	}
}

.video__embed--text {
		font-size: .7em;
	.video__embed--text-position {
		width: 95%;
		float: right;
		padding-bottom:15px;
	}


@include media-breakpoint-up(lg) {
	position: relative;
		.video__embed--text-position {
		padding: 40px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		float: none;
		}
	}

}
	
.video__embed--video  {
	margin-left: -40px;
	margin-top: -30px;
	margin-bottom: 15px;
	padding: 0;
 @include media-breakpoint-up(md) {
	margin-left: -60px;
}
@include media-breakpoint-up(lg) {
	margin-bottom: 30px;
}
}



// LINKS 

// INLINE LINK IN TYPOGRAPHY

// ARROW BACK AND FORWARD LINK

.back-link,
.forward-link {
	line-height: 1.5;
	margin-bottom: 15px;
	
}

.back-link__svg, 
.forward-link__svg  {
	margin-right: 5px;
	&:hover {
		text-decoration: underline;
		}
	} 

a.block-link__anchor {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		}
}

a.back-link__anchor, 
a.forward-link__anchor{
	text-decoration: none;
	vertical-align: 2px;
	&:hover {
		text-decoration: underline;
	}

}


// CARD LINK

a.card-link  {
	background: $brightblue;
	color: #ffffff;
	display: block;
	font-size: 1.25rem;
	line-height: 1.5;
	text-decoration: none;
	height:auto;
	padding: 30px 30px 40px 30px;
	font-weight: bold;
		svg {
			display: block; 
			margin-bottom: 30px;
		}


@include media-breakpoint-up(md) {
		font-size: 1rem;
		line-height: 1.2;
		svg {
			width: 50px;
			height: 50px;
			margin-bottom: 30px;
			}
	}

@include media-breakpoint-up (lg) {
		padding: 30px 30px 40px 30px;
		font-size: 1.25rem; 
		line-height: 1.5 ;
		font-weight: bold;
		svg {
			width: 70px;
			height: 70px;
			margin-bottom: 30px;
			}

		}

	
}


// BOXOUTS

.box-out__grey {
	background-color: #333333;
	padding: 24px;
	margin-bottom: 30px;

	h3,
	 {
		color: #ffffff;
		}
	p {
		color: #d6d6d6;
	}
	p, 
	a {
	line-height: 1.5;
	font-size: 1rem; 
	}
	a {
		color: $yellow;
	}

}


.box-out__yellow {
	background-color: $yellow;
	padding: 24px;

	
	p, 
	a {
	line-height: 1.5;
	font-size: 1rem; 
	}
	a {
		color: #333333;
	}
	margin-bottom: 30px;
}




/* ------------ 

ALERTS 

----------- */ 


.alert {
	padding: 24px;
	border-left: 4px;
	border-style: solid; 
	margin-bottom: 30px;
			h3 {
			font-weight: normal; 
			font-size: 1rem;
		}
		h3, 
		p  {
			display: inline;
		}
	.alert__icon {
		float: left; 
		display: block; 
		width: 12%;
		}	
		
	.alert__content {
		float: right; 
		display: block; 
		width: 87%; 
		word-break: break-all; 
		word-wrap: break-word; 
		} 
@include media-breakpoint-up(md) { 
		.alert__icon {
		width: 5%;
		}
		.alert__content {
		width: 95%;
		}
 	}  
}


.alert-info {
	background: mix($utilityblue, #fff, 10%);
	border-color: $utilityblue;
	}

.alert-warn {	
	background: mix($orange, #fff, 10%);
	border-color: $orange;
	}
.alert-success {	
	background: mix($utilitygreen, #fff, 10%);
	border-color: $utilitygreen;
	}
.alert-fail {
	background: mix($utilityred, #fff, 10%);
	border-color: $utilityred;
	}


/*---------------------
	CARDS

---------------*/

.card {
	position: relative;
	img {
		float: right;
		width: 100%;
		}
	}
.card__icon {
	position: absolute; 
	top: 0; 
	right: 0;
	background-color: $yellow;
	}


/*------------------
FIVE CARD LAYOUT
----------------------------*/


// RIGHT COLUMN LAYOUT
// HALF AND HALF BUT COLUMNS STAY SIDE BY SIDE AT ALL SCREEN WIDTHS

// BOOTSTRAP LAYOUT

.five-card-layout  {
.six-by-six__right	.six-by-six__right,
.six-by-six__right	.six-by-six__left {
	position: relative;
	width: 100%;
	flex: 0 0 50%;
	max-width: 50%;
	}
}
	
// FIVE CARD LAYOUT STYLING

.five-card-layout { 
	padding: 16px;
		.half-column-card img {
			max-height: 459px;
			}
		&> .six-by-six .row.no-gutters .six-by-six__right {
			padding-left: 0; 
			padding-right: 16px;
		}
		&> .six-by-six .row.no-gutters .six-by-six__left{
					margin-bottom: 1.5em;
				}
		.card__icon {
			display:none;
			}
		
		// REDUCES SPACING BETWEEN ITEMS NESTED IN CARD NOT IMG AND SVG SEE BELOW 
		.card * {
			margin-bottom: .5em;
			}
		
		.card {		
			padding-bottom: 35px; 
			margin-bottom: 1.5em;
				a{
					text-decoration: none;
					&:hover {
						text-decoration: underline;
						}
					}
				&:last-of-type  {
					border-bottom: 0;
					margin-bottom: 0; 
					padding-bottom: 0;
					}
			img {
				margin-bottom: 1em;
			}
			svg {
				margin-bottom:0;
			}
		}
	
	@include media-breakpoint-up(md) {
		padding: 40px 0 80px 0; 
			.six-by-six__left {
				border-right: 1px solid $pxlinegray;
				}
			.six-by-six__left .six-by-six .six-by-six__left  {
				border-right: 0;
				}
			&> .six-by-six .row.no-gutters .six-by-six__right {
			padding-left: 16px;
			padding-right: 0;			
				}
			&> .six-by-six .row.no-gutters .six-by-six__left{
					margin-bottom: 0;
				}
			.card {
				border-bottom: 1px solid $pxlinegray; 
			}
	}

}
