

//BREAK INTO SMALLER PARTIALS IF NECESSARY AFTER DEV STAGE


// /* DEFAULT YOUTUBE AND VIMEO OG WIDGET STYLES FROM INDIGO 2 */

ucl-widget[type="youtube"], ucl-widget[type="vimeo"]{
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    display:block;
    	iframe {
			position: absolute;
    		top: 0;
   			left: 0;
    		width: 100%;
   			height: 100%;
    		border: 0;
    		overflow: hidden;
		}
}


// STYLES FOR IFRAME - SIZES TO WIDTH OF CONTAINER AND  RETAINS ASPECT RATIO


.embedded-video .player{
	position: relative;
    overflow: hidden;
    padding-bottom: 56%;
    padding-top: 20px;
    height:0;
    iframe {
			position: absolute;
    		top: 0;
   			left: 0;
    		width: 100%;
   			height: 100%;
    		border: 0;
		}
    
}



// VIDEO WITH CAPTION see above for video sizing

//BOOTSTRAP LAYOUT

.video__embed--video {
 @include make-col-ready();

@include media-breakpoint-up(lg) {
    
    @include make-col(10);
 }

}

.video__embed--text {
	line-height: normal;

 @include make-col-ready();

 @include media-breakpoint-up(lg) {
    
    @include make-col(2);
  }

}

// INDIGO STYLING

.video__embed--wrapper {
	margin-bottom: 30px;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,214,214,1) 8%, rgba(214,214,214,1) 100%);
	margin-top: 60px; 
	margin-right: -16px;
@include media-breakpoint-up(sm) {
		margin-bottom: 20px;
	}
}

.video__embed--text {
		font-size: .7em;
	.position-bottom{
		width: 95%;
		float: right;
		padding-bottom:15px;
	}


@include media-breakpoint-up(lg) {
	position: relative;
		.position-bottom {
		padding: 40px 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		float: none;
		}
	}

}
	
.video__embed--video  {
	margin-left: -40px;
	margin-top: -30px;
	margin-bottom: 15px;
	padding: 0;
 @include media-breakpoint-up(md) {
	margin-left: -60px;
}
@include media-breakpoint-up(lg) {
	margin-bottom: 30px;
}
}



// LINKS 

// INLINE LINK IN TYPOGRAPHY

// ARROW BACK AND FORWARD LINK

.back-link,
.forward-link {
	line-height: 1.5;
	margin-bottom: 15px;
	
}

.back-link__svg, 
.forward-link__svg  {
	margin-right: 5px;
	&:hover {
		text-decoration: underline;
		}
	} 

a.block-link__anchor {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		}
}

a.back-link__anchor, 
a.forward-link__anchor{
	text-decoration: none;
	vertical-align: 2px;
	&:hover {
		text-decoration: underline;
	}

}


// CARD LINK

a.card-link  {
	background: $brightblue;
	color: #ffffff;
	display: block;
	font-size: 1.25rem;
	line-height: 1.5;
	text-decoration: none;
	height:auto;
	padding: 30px 30px 40px 30px;
	font-weight: bold;
		svg {
			display: block; 
			margin-bottom: 30px;
		}


@include media-breakpoint-up(md) {
		font-size: 1rem;
		line-height: 1.2;
		svg {
			width: 50px;
			height: 50px;
			margin-bottom: 30px;
			}
	}

@include media-breakpoint-up (lg) {
		padding: 30px 30px 40px 30px;
		font-size: 1.25rem; 
		line-height: 1.5 ;
		font-weight: bold;
		svg {
			width: 70px;
			height: 70px;
			margin-bottom: 30px;
			}

		}

	
}


/*------------------
FEATURE LINK
----------------*/

.feature-link {
		position: relative;
		clear:both;
		.feature-link_title {
		background: $yellow; 
		padding: 12px; 
		text-transform: uppercase; 
		width: 100%; 
		order: 2;
		overflow: hidden;
		word-break: break-all;
		word-wrap: break-word;	
	}
	.feature-link__icon {
		position: absolute; 
		top: 1px; 
		right: 0;
		background-color: $yellow;
		}
	.feature-link_image  {
		order: 1;
	}
	.feature-link_content {
		order: 3; 
		padding: 20px 12px; 
	}
	.feature-link_image img {
		margin-bottom: 0;
	}
	
@include media-breakpoint-up(md) {
	margin-bottom:  3.5rem; 
		&.clearfix {
		box-shadow: 3px 10px 10px -6px rgba(51,51,51,0.75);
		-webkit-box-shadow: 3px 10px 10px -6px rgba(51,51,51,0.75);
		-moz-box-shadow: 3px 10px 10px -6px rgba(51,51,51,0.75);
		}
	.feature-link_title { 
		position: relative;
		h5 {
			width: 90%;	
			font-size: 1.5rem;
			margin-bottom:0;
		}
	}
	.feature-link.row {
		display: block;
		}	  	
	.feature-link_image {
		float: left; 
		width: 50%;
	}
	 .feature-link_content {
	 	padding:20px; 
	 	float: right; 
	 	width: 50%;
	 }
}
}

/*---------------------------
 BOXOUTS
----------------------------*/

.box-out { 
	padding: 24px;
	margin-bottom: 30px;
	.box-out__content.div {
		margin: 0;
	}
	p, 
	a {
	line-height: 1.5;
	font-size: 1rem; 
	}
 }



.box-out--gray {
	background: $darkgray;
	h3 {
		color: #ffffff;
	}
	p {
		color: #d6d6d6;
	}
	a {
		color: $yellow;
	}
}


.box-out--yellow {
	background-color: $yellow;
	a {
		color: $darkgray;
	}
}



/* ------------ 

ALERTS 

----------- */ 


.alert {
	padding: 24px;
	border-left: 4px;
	border-style: solid; 
	margin-bottom: 30px;
			h3 {
			font-weight: normal; 
			font-size: 1rem;
		}
		h3, 
		p  {
			display: inline;
		}
	.alert__icon {
		float: left; 
		display: block; 
		width: 12%;
		}	
		
	.alert__content {
		float: right; 
		display: block; 
		width: 87%; 
		word-break: break-all; 
		word-wrap: break-word; 
		} 
@include media-breakpoint-up(md) { 
		.alert__icon {
		width: 5%;
		}
		.alert__content {
		width: 95%;
		}
 	}  
}


.alert-info {
	background: mix($utilityblue, #fff, 10%);
	border-color: $utilityblue;
	}

.alert-warn {	
	background: mix($orange, #fff, 10%);
	border-color: $orange;
	}
.alert-success {	
	background: mix($utilitygreen, #fff, 10%);
	border-color: $utilitygreen;
	}
.alert-fail {
	background: mix($utilityred, #fff, 10%);
	border-color: $utilityred;
	}


/*---------------------
	CARDS

---------------*/

.card {
	position: relative;
	img {
		float: right;
		width: 100%;
		}
	a {text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	}
.card__icon {
	position: absolute; 
	top: 0; 
	right: 0;
	background-color: $yellow;
	}


/*------------------
FIVE CARD LAYOUT
----------------------------*/

// NEW FLOAT BASED LAYOUT


.five-card-layout {
	margin-top: 1.8rem;
	margin-bottom: 1.5rem;
	.card__icon {
		display: none;
	}

	.five-card__right  {
		order: 2 ;
	}
	.five-card__left-top {
		order: 1; 
		padding: 0 16px 30px 16px;

	}
	.five-card__left-bottom {
		order: 3;
		border-top: solid 1px #d6d6d6;
		padding-top: 35px;
		padding-left: 16px;
		width: 100%;
		h2 {
			border:none;
			padding-top: 0;
			margin-top: 0;
		}
	}
	.field-content-summary {
		margin-bottom: 1.5rem;
	}

	// PREVENTS COLUMNS COLLAPSING IN MOBILE VIEW
	.six-by-six__left, 
	.six-by-six__right {
  		position: relative;
  		width: 100%;
  		padding-right: 16px;
  		padding-left: 16px;
  		flex: 0 0 50%;
  		max-width: 50%; 
  		a,p {
			@include bold-minus-one; 
		}
	}
	
}

 @include media-breakpoint-up(sm) {

.five-card {

	.card__icon {
		display:none;
	}
	.float.row {
  		display: block;
  	}
	.five-card__right { 
	float: right; 
	width: 50%; 
	
	}
	.five-card__right .six-by-six__left {
 			border-right: solid 1px $pxlinegraylight;
 			border-left: solid 1px $pxlinegraylight; 
 			 }
	.five-card__left-top {
		float: left; 
		width: 50%; 
		padding-right: 20px;
		padding-left: 0; 
		.card {
			border-bottom: solid 1px $pxlinegraylight;
		}
	}
	.card { 
		margin-bottom: 15px;
	}
	.five-card__left-bottom  {
		float: left; 
		width: 50%; 
		clear: left; 
		padding-right: 20px; 
		border-top: 0;
		padding-top: 0;
	}
}

}