

//BREAK INTO SMALLER PARTIALS IF NECESSARY AFTER DEV STAGE



// STYLES FOR IFRAME - SIZES TO WIDTH OF CONTAINER AND  RETAINS ASPECT RATIO


.embedded-video .player{
	position: relative;
    overflow: hidden;
    padding-bottom: 56%;
    padding-top: 20px;
    height:0;
    iframe {
			position: absolute;
    		top: 0;
   			left: 0;
    		width: 100%;
   			height: 100%;
    		border: 0;
		}
    
}



/*----------------------------------------
VIDEO WITH CAPTION
----------------------------------------*/

//BOOTSTRAP LAYOUT

.video__embed--video {
 @include make-col-ready();

@include media-breakpoint-up(lg) {
    
    @include make-col(10);
 }

}

.video__embed--text {
	line-height: normal;

 @include make-col-ready();

 @include media-breakpoint-up(lg) {
    
    @include make-col(2);
  }

}

// INDIGO STYLING

.video__embed--wrapper {
	margin-bottom: 2.5rem;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(214,214,214,1) 8%, rgba(214,214,214,1) 100%);
	margin-top: 2.75rem; 
	margin-right: -1.1528%;
	&.container {
		margin-left: 1rem;
		width: 95%;
	}
@include media-breakpoint-up(md) {
		margin-right: -1.676%;
		&.container {
		margin-left: auto;
		width: 100%;
	}
}

}



.video__embed--text {
		font-size: .7em;
	.position-bottom{
		width: 95%;
		float: right;
		padding-bottom: 0.9375rem;
	}


@include media-breakpoint-up(lg) {
	position: relative;
		.position-bottom {
		padding: 2.5rem 0;
		position: absolute;
		bottom: 0;
		width: 100%;
		float: none;
		}
	}

}
	
.video__embed--video  {
	margin-left: -4.192%;
	margin-top: -1.875rem;
	margin-bottom: 0.9375rem;
	padding: 0;
 @include media-breakpoint-up(sm) {
	margin-left: -6.2882%;
}
@include media-breakpoint-up(lg) {
	margin-bottom: 1.875rem;
}
	
}

// REMOVES MARGIN OVERFLOWS FOR LAYOUT COMPONENTS

.four-by-eight, 
.six-by-six, 
.eight-by-four, 
.four-by-four-by-four {
	.video__embed--video {
		margin-left: 0;
	}
	.video__embed--wrapper{
	 margin-right: 0; 
	  @include media-breakpoint-up(sm) {
		margin-right: -1rem;
		}
	}
}

/*--------------------------------
LINKS 
----------------------------------*/

// INLINE LINK IN TYPOGRAPHY

/*---------------------------------
ARROW BACK AND FORWARD LINK
---------------------------------*/

.back-link,
.forward-link {
	line-height: 1.5;
	margin-bottom: 0.9375rem;
	
}

.back-link__svg, 
.forward-link__svg  {
	margin-right: 5px;
	&:hover {
		text-decoration: underline;
		}
	} 

a.block-link__anchor {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		}
}

a.back-link__anchor, 
.back-link a,
a.forward-link__anchor{
	text-decoration: none;
	vertical-align: 2px;
	&:hover {
		text-decoration: underline;
	}

}

/* ------------------- 
DOWNLOAD LINKS 
------------------------------------------*/

.download-prospectus-link,
.paragraphs-item-file-download {
	margin-bottom: 1.5rem;
	a,
	span {
		vertical-align: 4px;
	}
}

/*--------------------------------
CARD LINK
--------------------------------*/

.paragraphs-item-card-link {
	height: 100%;
	&.align-to-self{
		height: auto;
	}
}


	a.card-link  {
		color: inherit;
		display: block;
		font-size: 1.25rem;
		line-height: 1.5;
		text-decoration: none;
		height: auto;
		padding: 1.875rem 1.875rem 2.5rem 1.875rem;
		font-weight: bold;
		overflow: hidden;
			&:hover {
				text-decoration: underline;
			}
			svg {
				display: block; 
				margin-bottom: 1.875rem;
				stroke:currentColor;
			}
	
	
	@include media-breakpoint-up(md) {
			font-size: 1rem;
			line-height: 1.2;
			svg {
				width: 3.125rem;
				height: 3.125rem;
				margin-bottom: 1.875rem;
				}
		}
	
	@include media-breakpoint-up (lg) {
			padding: 1.875rem 1.875rem 2.5rem 1.875rem;
			font-size: 1.25rem; 
			line-height: 1.5 ;
			font-weight: bold;
			svg {
				width: 70px;
				height: 70px;
				margin-bottom: 1.875rem;
				}
	
			}		
	}



// BARTLETT CARD LINK COLOURS
body[class*=site-bartlett] .paragraphs-item-card-link { 
	background: $bartlettviolet; 
	color: $bartlettturquoise; 
}


/*-----------------------
FEATURE LINK
-------------------------*/

.feature-link {
		position: relative;
		clear:both;
		.feature-link_title {
		background: $yellow; 
		padding: 12px; 
		width: 100%; 
		order: 1;
		overflow: hidden;
		word-break: break-all;
		word-wrap: break-word;	
	}
	.feature-link__icon {
		position: absolute; 
		top: 4px;
		right: 3px;
		background-color: $yellow;
		}
	svg {
		stroke-width: 2px;
		}
	.feature-link_image  {
		order: 2;
	}
	.feature-link_content {
		order: 3; 
		padding: 20px 12px;
		.field-content-summary {
			@include prose-zero;
			} 
	}
	.feature-link_image img {
		margin-bottom: 0;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	
@include media-breakpoint-up(md) {
		&.container {
		margin-bottom: 3.5rem;
		margin-top: 1.5rem;
		} 
		.feature-link_title { 
		position: relative;
		h5 {
			width: 90%;	
			font-size: 1.5rem;
			margin-bottom:0;
		}
	}
	.feature-link.row {
		display: block;
		}	  	
	.feature-link_image {
		float: left; 
		width: 50%;
	}
	 .feature-link_content {
	 	padding:20px; 
	 	float: right; 
	 	width: 50%;
	 }
}
}

.site-bartlett { 
	.feature-link {
		.feature-link__icon,
		.feature-link_title {
			background: #000; 
			color: #fff;
			}	
			svg {
			stroke: currentColor;
			}
		}
		
	 }


/*----------------------------
PROMO CARD
-----------------------------*/

.promo-text {
 @include make-col-ready();

@include media-breakpoint-up(md) {
    
    @include make-col(7);

 }

 @include media-breakpoint-up(lg) {
    
    @include make-col(5);
 }
 	padding: 0;
}

.promo-image {
 @include make-col-ready();

@include media-breakpoint-up(md) {
    
    @include make-col(5);
 }

 @include media-breakpoint-up(lg) {
    
    @include make-col(7);
 }
 	padding: 0;

}



.full-width-promo-card  {
	padding:0 1rem;
	margin-bottom: 2rem;
	&.promo-card--black-white {
		background: #000;
		color: #fff;
		}
	.promo-text {
		order: 2;
		& > h2 {
		color: inherit; 
		font-size: 1.875rem; 
		font-weight: 700; 
		border-top: 0; 
		padding-top: 1.5rem; 
		margin-top: 0; 
		line-height: 1.2;
		}
		// SEE CUSTOM HUB PAGE PADDING BELOW
		p {
			color: #fff;
			}
		.promo-card__eyebrow {
			color: $yellow;   
			text-transform: uppercase; 
			font-weight: 700;
			}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				} 
			}
		.promo-card__btn {
			padding: 1rem 2rem; 
			background: #fff; 
			color: #000;
			width: 100%; 
			font-size: 1rem; 
			font-weight: 700; 
			text-align: center;
			margin-bottom: 1rem;	
			}
	
	}
	
	.promo-image {
		order: 1;
		padding-top: 1rem;
	}
	
	
	
	@include media-breakpoint-up (md) {
		padding: 0;
	.promo-text {
		padding: 1rem 3.409% 1em 1em; 
		order: 1;
		.promo-card__eyebrow {
			font-size: .9rem;
			}
		& > h2{
			font-size: 2rem;
			}
		p {
			font-size: 0.9rem;
			}
		.promo-card__btn {
			width: 50%;
			}
		}
	.promo-image {
		padding: 1rem 1rem 1rem 0;
		order: 2;
		}
	
	}

@include media-breakpoint-up (lg) { 
		.promo-text {
		padding: 5rem 3.409% 5rem 5rem;
		.promo-card__eyebrow {
			font-size: 1rem;
			}
		& > h2{
			font-size: 3rem;
			}
		p {
			font-size: 1.125rem;
			}
		}
		.promo-image {
		padding: 5rem 5rem 5rem 0;
		}
	}


}

// CUSTOM CONTENT TYPE STYLES
// REMOVES HUB PAGE H2 PADDING

.node-type-hub-page .full-width-promo-card .promo-text > h2 {
padding-top: 1.5rem; 
}



/* ------------ 

ALERTS 

----------- */ 


.alert {
	padding: 1.5rem;
	border-left: 4px;
	border-style: solid; 
	margin-bottom: 1.5rem;
			h3 {
			font-weight: normal; 
			font-size: 1.125rem;
		}
		h3, 
		p  {
			display: inline;
		}
	.alert__icon {
		float: left; 
		display: block; 
		width: 12%;
		}	
		
	.alert__content {
		float: right; 
		display: block; 
		width: 87%; 
		} 
@include media-breakpoint-up(md) { 
		.alert__icon {
		width: 5%;
		}
		.alert__content {
		width: 95%;
		}
 	}  
}


.alert-info {
	background: mix($utilityblue, #fff, 10%);
	border-color: $utilityblue;
	}

.alert-warn {	
	background: mix($orange, #fff, 10%);
	border-color: $orange;
	}
.alert-success {	
	background: mix($utilitygreen, #fff, 10%);
	border-color: $utilitygreen;
	}
.alert-fail {
	background: mix($utilityred, #fff, 10%);
	border-color: $utilityred;
	}


/*---------------------
	CARDS
---------------*/

.card {
	position: relative;
	img {
		float: right;
		width: 100%;
		margin-bottom: 1rem;
		}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	p,
	.page-intro {
		font-size: 1rem;
		line-height: 1.5;
	}
	h3 {
		margin-bottom: 0.75rem;
		}
}
.card__icon {
	position: absolute; 
	top: 0; 
	right: 0;
	svg {
		stroke-width: 2px;
		}
	}

//ICON WITH BLACK BACKGROUND WHITE ARROW
//USED ON BARTLETT

body[class*=site-bartlett] {

.card {
	h3 a {
		color: #333;
		}
}


.card__icon {
	background: #000;
	svg {
		stroke: #fff;
		}
	}
}


/* -------------------------
 HIGHLIGHT CARD
 --------------------------*/

.highlight-card  {
	position: relative;
	height: 100%;
	.highlight-card__pic {
		background-color: inherit; 
		color: inherit;
	}
	&.align-to-self  {
		height:auto;
		}
	.card__icon {
		padding: 5px;
		width: 45px;
		height: 45px;
		background-color: inherit;
		color: inherit;
				svg{
			width: 35px;
			height: 35px;
			stroke-width: 3px;
			stroke: currentColor;
			.cls-1 {
				stroke: currentColor;
			}
		}
		
	}
	a {
		text-decoration: none;
		color: inherit;
		background-color: inherit;
		}
	.highlight-card__eyebrow  {
	text-transform: uppercase;
	margin-bottom: 1.5rem;
	font-weight: bold;
	}
	
	.highlight-card__text {
		padding: 1.25rem;
		h2 {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	 @include media-breakpoint-up(md) {
	 	padding: 1rem;
 		h2 {
 			font-size: 0.9rem;
 			}
 		}
 	 @include media-breakpoint-up(lg) { 
 	 	padding: 1.25rem;		
 		h2 {
 			font-size: 1.5rem;	
 			}
 	}
	
}

	// COLORS
	&.highlight-card--violet-turquoise {
       background-color: $bartlettviolet;
       color: $bartlettturquoise;
       }
     &.highlight-card--peach-purple {
       background-color: $bartlettpeach;
       color: $bartlettpurple;
       }
     &.highlight-card--purple-peach {
       background-color: $bartlettpurple;
       color: $bartlettpeach;
       }
     &.highlight-card--green-pink {
       background-color: $bartlettgreen;
       color: $bartlettpink;
       }
     &.highlight-card--pink-violet {
       background-color: $bartlettpink;
       color: $bartlettviolet;
       }
    &.highlight-card--blue-peach {
       background-color: $bartlettblue;
       color: $bartlettpeach;
       }
    &.highlight-card--turquoise-violet {
       background-color: $bartlettturquoise;
       color: $bartlettviolet;
       }	
}

/*------------------
 CTA CARD/BOXES
 ---------------------*/

.paragraphs-item-call-to-action a {
	text-decoration: none; 
	}
.site-content .main-content .cta-box h2 {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
	}

.cta-box,
.paragraphs-item-call-to-action-card-internal,
.paragraphs-item-call-to-action-card-external {
	&.align-to-self  {
		height:auto;
		}
	height: 100%; 
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	display:flex;
	flex-direction: column;
	a {
		text-decoration: none; 
		color: inherit;
	}
	p,
	.page-intro {
		@include normal-zero;
	}
		p:hover, 
	.cta-box__btn__text:hover {
		text-decoration: underline; 
		} 
	.cta-box__btn {
		width: 100%; 
		border-color: inherit; 
		border-width: 1px; 
		border-style: solid;  
		margin-top: 2.5rem;
		display: flex;
		margin-top: auto;
		}
	.cta-box__btn__svg {	
		width: 19%; 
		display: flex;
		align-items: center;
		svg {
			stroke: currentColor; 
			margin: auto;
			}
		}
	.cta-box__btn__text { 
		width: 80.5806%;
		border-style: solid; 
		padding: 1rem 1rem 1rem 2rem;	
		}

 @include media-breakpoint-up(sm) {
 	padding: 3rem;
 	}

 // SEE ALSO COLUMN CUSTOM WIDTHS BELOW

 @include media-breakpoint-up(md) {
	.cta-box__btn {
 		width: 70.42415%; 
 		} 
 	}
  @include media-breakpoint-up(lg) {
	.cta-box__btn {
 		width: 40.42415%; 
 		} 
 	}
 	//COLORS
 	&.cta-box--violet-turquoise {
 		background: $bartlettviolet ;
 		color: $bartlettturquoise ;
 		}
 	&.cta-box--gray {
 		background: $darkgray ;
 		color: #ffffff ;
 		}
 	&.cta-box--purple-peach {
 		background: $bartlettpurple ;
 		color: $bartlettpeach ;
 		}
 	&.cta-box--turquoise-violet {
 		background: $bartlettturquoise;
 		color: $bartlettviolet;
 		}
}



// SIDEBAR MODIFICATIONS TO HEIGHT

aside.right-column {
.cta-box,
.paragraphs-item-call-to-action-card-internal,
.paragraphs-item-call-to-action-card-external {
	height: auto;
		.cta-box__btn {
			width: 100%;
		}
	}	
}




// MODIFICATONS TO BUTTON RESPONSIVE BEHAVIOUR FOR COLUMN LAYOUTS.
.four-by-four-by-four, .six-by-six { 
	.cta-box {
			@include media-breakpoint-up(md) {
			padding: 2rem;
			}
			@include media-breakpoint-up(lg) {
			padding: 3rem;
			}
	}
	.cta-box__btn { 
			@include media-breakpoint-up(md) { 
			width: 100%;
			}				
			@include media-breakpoint-up(xl) {
			width: 70.42415%; 
			}
	}

}

.four-by-four-by-four.item-background div.paragraphs-item-call-to-action {
	height: 100%;
}

.six-by-six {
	.cta-box__btn {
		@include media-breakpoint-up(xl) {
			width: 60%; 
			}
		}
}


/*----------------------------
BOX OUT PARAGRAPH
----------------------------*/

.paragraphs-item-boxout {
	height: 100%;
	padding: 3rem;
	font-size:.9rem;
	h2 {
		margin-top:0;
		padding-top: 0;
		border-top: none;
		font-size: 1.2rem;		
		}
	h3, h4 {
		font-size: 1rem;
		}
	&.align-to-self  {
		height:auto;
		}
// COLORS
	&.gray {
		background: $darkgray;
		color : #ffffff;
		a, blockquote {
			color: #ffffff;
		}
		svg {
			stroke: #ffffff;
		}	
	}
	&.violet-turquoise  {
		background: $bartlettviolet;
		color: $bartlettturquoise;
		a, blockquote {
			color: $bartlettturquoise;
		}
		svg {
			stroke: $bartlettturquoise;
		}
	}
	&.violet-turquoise  {
		background: $bartlettviolet;
		color: $bartlettturquoise;
		a, blockquote {
			color: $bartlettturquoise;
		}
		svg {
			stroke: $bartlettturquoise;
		}
	}
	&.green-pink  {
		background: $bartlettgreen;
		color: $bartlettpink;
		a, blockquote {
			color: $bartlettpink;
		}
		svg {
			stroke: $bartlettpink;
		}
	}
	&.purple-peach  {
		background: $bartlettpurple;
		color: $bartlettpeach;
		a, blockquote {
			color: $bartlettpeach
		}
		svg {
			stroke: $bartlettpeach;
		}
	}
	&.turquoise-violet  {
		background: $bartlettturquoise;
		color: $bartlettviolet;
		a, blockquote {
			color: $bartlettviolet;
		}
		svg {
			stroke: $bartlettviolet;
		}
	}
	&.peach-purple  {
		background: $bartlettpeach;
		color: $bartlettpurple;
		a, blockquote {
			color: $bartlettpurple;
		}
		svg {
			stroke: $bartlettpurple;
		}
	}
	&.pink-violet  {
		background: $bartlettpink;
		color: $bartlettviolet;
		a, blockquote {
			color: $bartlettviolet;
		}
		svg {
			stroke: $bartlettviolet;
		}
	}
	&.blue-peach  {
		background: $bartlettblue;
		color: $bartlettpeach;
		a, blockquote {
			color: $bartlettpeach;
		}
		svg {
			stroke: $bartlettpeach;
		}
	}
	@include media-breakpoint-up(xl) {
		font-size: 1.125rem;
		h2 {
			font-size: 1.8rem;
			}
		h3,h4 {
			font-size: 1.25rem;
			} 
	}
}




// ADDS MARGIN WHEN IN MAIN CONTENT FLOW

.node > .paragraphs-item-boxout {
	margin-bottom: 1.5rem;
	}


// RESPONSIVE STYLING FOR PAGES WITH SIDEBARS SEE
// ALSO QUOTES

body.sidebar {
	.three-card-layout,  
	.eight-by-four .eight-by-four__left {
		.paragraphs-item-boxout {
			padding: 1.5rem 1rem ;	
	@include media-breakpoint-up(xl) {
 		padding: 3rem;
 		}
	}
}


 .four-item-layout, 
 .eight-by-four .eight-by-four__right {	
 	.paragraphs-item-boxout {
		padding: 1rem  0.5rem ;	
		font-size: 1rem;
		h2,h3 {
			font-size: 1rem;
			}
	@include media-breakpoint-up(xl) {
 		padding: 1.5rem;
 		font-size: 1.125rem;
 			h2,h3 {
 				font-size: 1.5rem;
 				}
 		}
	}
	}
}



/*------------------
FIVE CARD LAYOUT
----------------------------*/

.five-card-layout {
	margin-top: 1.8rem;
	margin-bottom: 1.5rem;

	.container {
		padding: 0;
		max-width: none;
	}

	.card__icon {
		display: none;
	}

	.five-card__right {
		order: 2;
	}

	.five-card__left-top {
		order: 1;
		margin-bottom: 0;

		div.field-content-summary {
			font-size: 1.125rem;
		}
	}

	.five-card__left-bottom {
		order: 3;
		border-top: solid 1px #d6d6d6;
		padding-top: 2.1875rem;
		width: 100%;

		h2 {
			border: none;
			padding-top: 0;
			margin-top: 0;
		}
	}

	.field-content-summary {
		margin-bottom: 1.5rem;
	}

	.six-by-six__left,
	.six-by-six__right {
		max-width: 100%;
		margin-bottom: 0;
	}

}


 @include media-breakpoint-between (sm, md) {
 	.five-card-layout h3 { 
 		font-size: 1.1rem; 
 		}

 }


 @include media-breakpoint-up(md) {

.five-card-layout{

	.five-card__left-top {
		 padding: 0 1rem 1.875rem;
	}
	 .six-by-six__left, .six-by-six__right {
		 position: relative;
		 width: 100%;
		 flex: 0 0 50%;
		 max-width: 50%;
	 }
}
.five-card {

	.card__icon {
		display:none;
	}
	.float.row {
  		display: block;
  	}
	.five-card__right {
	float: right; 
	width: 50%;
	
	}

	.five-card__right .six-by-six__left {
 			border-right: solid 1px $pxlinegraylight;
 			border-left: solid 1px $pxlinegraylight;
			padding-right: 1rem;
			padding-left: 1rem;
 			 }
	.five-card__right .six-by-six__right {
			padding-right: 1rem;
			padding-left: 1rem;
	}
	.five-card__left-top {
		float: left; 
		width: 50%; 
		padding-right: 1.25rem;
		padding-left: 0;

		.card {
			border-bottom: solid 1px $pxlinegraylight;
		}
	}
	.card { 
		margin-bottom: 15px;
	}
	.five-card__left-bottom  {
		float: left; 
		width: 50%; 
		clear: left; 
		padding-right: 1.25rem; 
		border-top: 0;
		padding-top: 0;
	   .six-by-six__left {
	   	padding-left: 0;
	   }
	}
}

}



/*------------------ PROMO SUB FOOTER ------------
-------*/



// PROMO SUB FOOTER

.promo-footer__card-one,
.promo-footer__card-two,
.promo-footer__card-three,
.promo-footer__card-four {

   @include make-col-ready();


    @include media-breakpoint-up(md) {
      @include make-col(3);
     
    }
}

.promo-footer__card-one {
   @include media-breakpoint-up(md) {
     
      padding-right:0;
      padding-left: 0;
   }

}

.promo-footer__card-two,
.promo-footer__card-three,
.promo-footer__card-four {
   @include media-breakpoint-up(md) {
      padding-right:0;
      padding-left:32px;
   }

}


.promo-pre-footer {
	background: $darkgray;
	// @include media-breakpoint-down(xs) {
// 			display:none;
// 			 }

	@include media-breakpoint-down(sm) {
			img,
			.promo-footer__card-one{display:none;}
			 }	
}

.promo-footer__strap-line { 
	font-size: 1.875rem ;
	font-weight: bold; 
	color: #ffffff; 
	@include media-breakpoint-up(xl) {
	font-size: 3rem;
	}
	@include media-breakpoint-up(lg) {
	font-size: 2.5rem;
	}
}


.site-width.container.promo-footer {
	padding-top: 30px;

	img {
			max-height:185px;
			margin-bottom: .7em;
		}
		h5 {
 			text-transform:uppercase; 
 			color: #ADADAD;
 		}
 		h2,
 		p {
 			color: #fff;
 		}
 		a {
 			color: $yellow; 			
 		}
 		
}

/*--------------------------------
 MEDIA CENTRAL WIDGET
---------------------------------*/

.media-central__container   {
	position: relative;
	padding-bottom: 56%;
	padding-top: 20px;
	height: 0;
	}
.media-central__iframe {
	position: absolute; 
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------
 ACCESS UCL SCHEME WIDGET
---------------------------------*/

#access-ucl-form {
	font-size:1.125rem;
	line-height: 1.5;
	font-weight:400;
	color: #333333;
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	#checker-widget fieldset {
		border-radius:3px;
		background: #f5f5f5;
		padding: 2rem;
		display: block;
	}
	.access-ucl_fieldset fieldset {
		padding: 0.625rem;
		margin: 0;
		border: 0;
		min-width: 0;
	}
	.field {
		padding:0.625rem;
		label {
			margin-bottom:0.1em;
			font-weight:400;
		}
		label input {
			position:relative;
			top:-2px;
		}
	}
	.access-button {
		background:#0D68CF;
		border:1px solid #86B3E7;
		border-radius:3px;
		padding:0.813rem;
		font-size: 1rem;
	}
	.access-button:hover {
		cursor:pointer;
		background:#86B3E7;
		border:1px solid #86B3E7;
	}
	.hiddenField {
		display:none;
	}
	.postcodefield {
		border:1px solid #858585;
		padding: 1rem;
	}
	.errorField {
		padding: 1.5rem;
		background: #fbe6eb;
		border-color: #D50032;
	}
	.optionholder {
		position:relative;
	}
	.optiontext {
		position:absolute;
		z-index:10;
		background:#FFF;
		border:1px solid #BBB;
		display:none;
	}
	.noschool,
	.myoption {
		padding:0.313rem 0.625rem
	}
	.myoption:hover {
		background:#0D68CF;
		color:#FFF;
		cursor:pointer;
	}
	.myoption.selected {
		background: white;
		color: #238638;
		cursor:pointer;
		margin-top: 5px;
	}
	.submitter {
		margin-top:1.25rem;
	}
	.discreet {
		color:#999999;
	}
	#ajax-spinner {
		z-index:9999;
		text-align:center;
		display:inline-block;
	}
	#lightbox {
		position:absolute;
		top:0;
		left:0;
		z-index:100;
		background:#FFF;
		opacity:0.7;
	}
}

/*---------------------------
FORMS
--------------------------*/

.paragraphs-item-gecko-form-embed iframe {
width: 100%;
}

/*---------------------------
CRM Form embed
--------------------------*/

body, .columnContainer p, .lp-ellipsis, .lp-form-fieldInput, span {
	font-family: "Helvetica Neue",Helvetica, Arial,"Lucida Grande",sans-serif !important ;
}

// Page layout
.paragraphs-item-msd-form-embed form [data-layout="true"] {
	margin: 0 !important;
}

form div {
	padding-left: 0 !important;
}

// Form fields
.marketing-field {
	margin-top: 1rem
}

.paragraphs-item-msd-form-embed input,
.paragraphs-item-msd-form-embed select,
.paragraphs-item-msd-form-embed textarea{
	padding: 13.5px 16px;
	background: #ffffff;
	border: 1px solid #ADADAD;
}

.paragraphs-item-msd-form-embed input:focus-visible,  ,
.paragraphs-item-msd-form-embed textarea:focus-visible {
	outline: 1.5px solid #0055F0;
}

.paragraphs-item-msd-form-embed select:focus-visible {
	outline: 3px solid #0055F0;
}

// Placeholder and input text
::placeholder,
input, textarea, select,
input.lp-form-fieldInput.error[type=email],
.paragraphs-item-msd-form-embed input[type=date],
a #website {
	font-size: 1rem !important;
	color: inherit;
}

// Calender and chevron icons
div[data-form-block-id] .lookup-behavior, select.lp-form-fieldInput {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml,%0A%3Csvg width='50' height='50' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath d='M6.34317 7.75732L4.92896 9.17154L12 16.2426L19.0711 9.17157L17.6569 7.75735L12 13.4142L6.34317 7.75732Z' fill='%230055F0' /%3E%3C/svg%3E");
	background-repeat: no-repeat, repeat;
	background-position: right .9em top 50%, 0 0;
	background-size: 1.3em auto, 100%;
	cursor: pointer
}

// Error messages
.error {
	font-size: 1rem;
	font-weight: 400;
}

#lookup-popup-ul-0, #errorList {
	list-style: none;
	padding: 0;
}

#nonMandatoryFields {
	padding-left: 0;
}

// Labels and headings
.columnContainer p span.header, p span strong {
	background: none;
	font-size: 1.5rem !important;
	font-weight: 700;
}

.lp-ellipsis, .lp-form-field span {
	font-size: 1rem;
}

label.lp-ellipsis {
	font-weight: 700;
}

.lp-form-field label.lp-ellipsis {
	display: inline;
}

// Dialog pop-up
dialog div p.lp-ellipsis {
	font-size: 1rem;
}

#reference_type_guide {
	border: 0;
	width: 50%;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
}
dialog#confirmCloseDialog {
	border: none;
}


// Buttons
.paragraphs-item-msd-form-embed button[type="submit"],
.onFormSubmittedFeedbackButton,
.onFormSubmittedFeedbackButtonSuccess,
#nextBtn, #confirmClose {
	background: #0055F0;
	color: #ffffff;
	font-size: 1rem;
	border: 1px solid;
	height: 51px;
	border-radius: 1px;
	width: auto;
}

.paragraphs-item-msd-form-embed button[type="submit"],
.onFormSubmittedFeedbackButton,
.onFormSubmittedFeedbackButtonSuccess{
	padding: 16px;
}

#submit_button:enabled {
	background: #0055F0 !important;
}

#submit_button:disabled {
	background: #EBEBEB;
	color: #5C5C5C;
	opacity: 0.3;
	pointer-events: none;
}
#submit_button:enabled:hover {
	background: #003CA8 !important;
	cursor: pointer;
}

.paragraphs-item-msd-form-embed button[type=reset],
#exitwithoutsaving, #prevBtn, #CloseGuide, #cancelClose {
	background: #ffffff;
	color: #0055F0;
	font-size: 1rem;
	border: 1px solid;
	height: 51px;
	border-radius: 1px;
	width:auto;
}

.paragraphs-item-msd-form-embed button[type=submit]:hover,
#nextBtn:hover, #confirmClose:hover {
	background: #003CA8;
	cursor: pointer;
}

.paragraphs-item-msd-form-embed button[type=reset]:hover,
#exitwithoutsaving:hover, #prevBtn:hover, #CloseGuide:hover,
#cancelClose:hover {
	color: #003CA8;
	cursor: pointer;
}

// Radio buttons
.lp-radioButton label.lp-ellipsis {
	font-weight: 400;
}

/*-------------------------
SECTION BACKGROUNDS
-------------------------- */

.section-background  { 
	position:relative;
	padding: 3.75rem 0;
	margin-bottom: 3rem;
	@include colour-breakout;
	h2 {
		border-top: 0;
		}
	}
	
.section-background--lightgray {
	background: $backgroundlightgray; 	
	}


// SELECTORS FOR SIDEBAR PARAGRAPH TYPES
$sidebarpara: ".paragraphs-item-content-text-with-heading,.paragraphs-item-block-link,.paragraphs-item-testimonial";


.node-type-indigo-page {
	
	aside.right-column {
		h2 {
			@include bold-two;
			}
		#{$sidebarpara} {
			padding: 1.5rem;
			margin-bottom: 1.5rem;
			}
		}	

// DEFAULT COLOURS 

	aside.right-column {
		#{$sidebarpara} {
			background-color: #333;
			color: #ffffff;
				 a {
      				color: $yellow;
      				}
      			svg {
      				stroke: $yellow;
      				}
      			}
      	}
	}

// BARTLETT COLOURS
	body[class*=site-bartlett].node-type-indigo-page{
		aside.right-column {
				#{$sidebarpara} {
					background-color: $bartlettturquoise;
				    color: $bartlettviolet;
				    	a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}      						
      				}
 				&.green-pink {
 					#{$sidebarpara}  {	
  	     				background-color: $bartlettgreen;
      					color: $bartlettpink;
      					a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}  
      					}
      				}
   				&.violet-turquoise {
   					#{$sidebarpara}  {					  
						background-color: $bartlettviolet;
						color: $bartlettturquoise;
						a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}  
						}
					}
				&.purple-peach {
					#{$sidebarpara}  {					 
				    	background-color: $bartlettpurple;
				    	color: $bartlettpeach;
				    	a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}  
				    	}
				    }			
				&.turquoise-violet {
					#{$sidebarpara}  {					
				    	background-color: $bartlettturquoise;
				    	color: $bartlettviolet;
				    	a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}  
				    	}
				    }				
				&.orange-violet {
					#{$sidebarpara}  {					  
				    	background-color: $bartlettorange;
				    	color: $bartlettviolet;
				    	a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}  
						}
					 }				
				&.yellow-violet {
					#{$sidebarpara}  {				    
				    	background-color: $bartlettyellow;
				    	color: $bartlettviolet;
				    	a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}  
				       }
				    }				
				&.blue-peach {
					#{$sidebarpara}  {					 
				    	background-color: $bartlettblue;
				    	color: $bartlettpeach;
				    	a {
      						color:inherit;
      						}
      					svg {
      						stroke: currentcolor;
      						}  
				    	}
				    }
				}
			}
		
	
