	
/*----------------------------------- 
CUSTOM SITE WIDTH BOOTSTRAP CONTAINER
--------------------------------*/
// see also bootstrap variable $container-max-widths(xl)

.site-width.container, .site-width { 
	overflow-x: initial;
	max-width: 1472px;
	min-width: 320px; 
	width: 100%; 
	margin: 0 auto;  

@include media-breakpoint-up(md){
	width: 90%;   	 
 }
}
.site-content.container {
	padding:0;
	color: #333333;
}

/* ----------------MAIN PAGE TEMPLATE TWO COLUMN LAYOUT  ----------------- */


// TWO COLUMN LAYOUT SMALL RIGHT COLUMN


// LEFT COLUMN 


.main-content {
	width: 100%; 
	padding-right: 0;
	margin-top: 50px;

@include media-breakpoint-up(md){
	padding-right:10.9%;   	 
 }
}

 // RIGHT COLUMN 

.content-columns .right-column {
	padding-top: 50px;

	}




