	
/*----------------------------------- 
CUSTOM SITE WIDTH BOOTSTRAP CONTAINER
--------------------------------*/
// see also bootstrap variable $container-max-widths(xl)

.site-width.container, .site-width { 
	overflow-x: initial;
	max-width: 1408px;
	min-width: 320px;
	padding:0; 
	width: 100%; 
	margin: 0 auto;  

@include media-breakpoint-up(md){
	width: 90%;   	 
 }
}
.site-content.container {
	padding:0;
	
}

/* ----------------MAIN PAGE TEMPLATE TWO COLUMN LAYOUT  ----------------- */


// TWO COLUMN LAYOUT SMALL RIGHT COLUMN


// LEFT COLUMN 


.main-content {
	width: 100%; 
	padding-right: 0;
	margin-top: 2.5em;
@include media-breakpoint-up(md){
	padding-right: 10.7954%;  
	margin-top: 5rem; 	 
 }
}

 // RIGHT COLUMN 

.content-columns .right-column {
	padding-top: 50px;

	}




