	.course-finder {
    padding-top: .7rem;
  }
    


  .course-search-box{
		width: 100%;
		    form input[type="text"]  {
       	appearance: none;
    		-webkit-appearance: none;
    		padding: 0 10px 0 18px;
    		color: #333;
    		border: 0;
    		outline: none;
   			float:left;
  			width: 80%;
  			height: 3.8rem;
        border: 1px solid $utilityblue;
        font-size: 1.125rem;  								
     	}

     	form input[type="submit"]  {
       	float: right; 
      	width: 20%; 
     		appearance: none; 
     		-webkit-appearance: none; 
     		border: none; 
     		height: 3.8rem;
     		background: $utilityblue;
     		color: #fff;
        font-size: 1rem;
        }


    }



// LINK TO COURSES
.course-compare {
  float:right;
  margin-bottom: 4.625rem;
  .course-compare__anchor {
  text-decoration: none;
  vertical-align: 6px;
  padding-left: 5px;
  &:hover {
    text-decoration: underline;
  }
}
}


.search-filter {
  clear: both;
  border-top: $utilityblue 1px solid;
  padding-top: 1rem;
  h2 {
    float:left;
    margin-bottom: .5rem;
  }
  .search-filter__svg-dt {
    float: right;
    background: $utilityblue;
    border-radius: 50%;
    padding: .6em;
    }
}



.course-finder-search-results,
.faculty-list-results,
.course-finder-subject-list
{  
  margin-bottom: 1.5rem;
  padding-top: 1.875rem;
  .search-results__result-counter { 
    @include prose-zero;
     }
  .result-item {
    clear: both; 
    margin-bottom: 1.5rem;
    svg {
      float: right; 
      width: 15%;
    }
    a {
       @include bold-one ;
       margin-bottom: 0;
    }
    a,span {
      display: block; 
      float: left; 
      width: 85%;
      }
    .search-results__dept {
      @include prose-zero;
    }
  
 

  @include media-breakpoint-up(sm)  { 
  svg {
      float: left;
      width: 5%; 
      }
  a,span {
    float: right;
    width: 95%;
   }
  }
  }
  
// MORE SEARCH RESULTS.

  .search-results__more__anchor {
  text-decoration: none;
  vertical-align: 6px;
  padding-left: 5px;
  &:hover {
    text-decoration: underline;
  }
  }


}

//FACULTY VIEW

.course-finder-faculty-list {
  .accordion__title {
    p {
       @include prose-zero;
       font-weight: normal;
       margin-bottom: 0;
    }
  }

}

.course-finder-subject-list {
    .accordion__title {
      h3 {
        margin-bottom:0
      }
    }
}

// A TO Z LIST


       ol.alpha-list {
            list-style: none; 
            margin: 0; 
            padding: 0;
          } 

       .alpha-list {
            li {
            display: inline-block; 
            padding-top: .6em;
            &:before {content: none;}
            a {
              text-decoration: none; 
              padding:.6em;
              &:hover, &.active {
                color: #fff;  
                background: #0D68CF; 
                text-decoration: underline;
              }
            }
          }
        }  

