	
.uk-inter-switch {
	padding-bottom: 1.5em;
	span {
	display: inline-block;
	border: 1px solid $utilityblue;
    text-decoration: none;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25rem;
    margin-right: -5px;
    color: $utilityblue;
    &:nth-of-type(1) {
		border-radius: 12px 0 0 12px ;
		}
	&:nth-of-type(2)  {
		border-radius:0  12px 12px  0 ;  
	}
	&:hover {
    	background-color: $buttonrollover;
    	color: #ffffff;
    }

       &.active  {
    	background: $utilityblue; 
    	color: #ffffff;
       	}
	}
    
}




// KEY INFO BOOTSTRAP LAYOUT COLUMNS

.prog-key-info__icon {
  @include make-col-ready();

    @include media-breakpoint-up(sm) {
    @include make-col(2);
   }

}


.prog-key-info__text {
  @include make-col-ready();

    @include media-breakpoint-up(sm) {
    @include make-col(10);
   }

}

// KEY INFO STYLING

.prog-key-info {
	margin-bottom: 1.875rem;
	.prog-key-info__content {
		background: #f5f5f5;
	}
	.prog-key-info__first-row .prog-key-info__icon {
		padding-top: 33px;
	}
	.prog-key-info__first-row .prog-key-info__text {
		padding-top: 30px;
	}
	.prog-key-info__icon {
		text-align: center; 
		padding-top: 3px;
		 }
	.prog-key-info__text {
		padding-left: 1%; 
		padding-right: 5%;
		div, p {
			font-size: 0.875rem;
		}
	}
	.prog-key-info__text, 
	.prog-key-info__icon  {
		padding-bottom: 2em; 
	}

	.prog-key-info__status-closed {
		color: $utilityred;
	}

	.prog-key-info__status-open {
		color: $utilitygreen;
	}


 @include media-breakpoint-down(sm) { 
 	.prog-key-info__icon {
 		display:none;
 	}
 	.prog-key-info__text {
 		padding-left:5%;
 		padding-right: 5%;
 	}
 }
}

