	.course-finder {
    padding-top: .7rem;
  }
    

  .course-search-box{
		width: 100%;
		    form input[type="search"]  {
       	appearance: none;
    		-webkit-appearance: none;
    		padding: 0 10px 0 18px;
    		color: #333;
    		border: 0;
    		outline: none;
   			float:left;
  			width: 80%;
  			height: 3.8rem;
        border: 1px solid $utilityblue;
        font-size: 1.125rem;  								
     	}

     	form input[type="submit"]  {
       	float: right; 
      	width: 20%; 
     		appearance: none; 
     		-webkit-appearance: none; 
     		border: none; 
     		height: 3.8rem;
     		background: $utilityblue;
     		color: #fff;
        font-size: 1rem;
        cursor: pointer;
        }

//AUTO COMPLETE OVERIDES 
      #autocomplete  {
        background: white;
        padding-top: 1rem;
        div {
          padding-left: 1.5%;
          }
        li {
          padding: 10px 0;
        }
        &.selected {
          background: $utilityblue;
          }
        }
      }


// SEARCH BOX WIDGET FOR DEGREE HUB PAGE
.tabs__content .course-search-box  {
  margin-bottom: 1.8rem;
  }

// REMOVES BROKEN ANIMATION IN SEARCH BOX 
  html.js input.form-autocomplete,
  html.js input.throbbing {
    background-image: none !important;
    }


// LINK TO COURSES
.course-compare {
  float:right;
  margin-bottom: 4.625rem;
  .course-compare__anchor {
  text-decoration: none;
  vertical-align: 6px;
  padding-left: 5px;
  &:hover {
    text-decoration: underline;
  }
}
}


.search-filter {
  clear: both;
  border-top: $utilityblue 1px solid;
  padding-top: 1rem;
  h2 {
    float:left;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 70%;
  }
  .search-filter__svg-dt {
    float: right;
    background: $utilityblue;
    border-radius: 100%;
    padding: .9rem 0.7rem 0.5rem 0.7rem ;
    width: auto;
    }
  #facets-slider-icon {
    width: 25px; height:25px;
  }
}



// RESULTS LIST CONTENT

.course-finder-search-results,
.faculty-list-results,
.course-finder-subject-list
{  
  margin-bottom: 1.5rem;
  padding-top: 1.875rem;
  .search-results__result-counter { 
    @include prose-zero;
     }
  .result-item {
    clear: both; 
    margin-bottom: 1.5rem;
    svg {
      float: right; 
      width: 15%;
    }
    a {
       @include bold-one ;
       margin-bottom: 0;
    }
    a,span {
      display: block; 
      float: left; 
      width: 85%;
      }
    .search-results__dept {
      @include prose-zero;
    }
  
 

  @include media-breakpoint-up(sm)  { 
  svg {
      float: left;
      width: 5%; 
      }
  a,span {
    float: right;
    width: 95%;
   }
  }
  }

 
// MORE SEARCH RESULTS.

  .search-results__more__anchor {
  text-decoration: none;
  vertical-align: 6px;
  padding-left: 5px;
  &:hover {
    text-decoration: underline;
  }
  }


}

//FACULTY VIEW

.course-finder-faculty-list {
  .accordion__title {
    p {
       @include prose-zero;
       font-weight: normal;
       margin-bottom: 0;
    }
  }

}

.course-finder-subject-list {
    .accordion__title {
      h3 {
        margin-bottom:0
      }
    }
}

// A TO Z LIST


       ol.alpha-list {
            list-style: none; 
            margin: 0; 
            padding: 0;
          } 

       .alpha-list {
            .alpha-list__inactive {
            color: #adadad;
            padding: .6rem;
            
            }
            li {
            display: inline-block; 
            padding-top: .6em;
           
            &:before {
              content: none;
            }
            a {
              text-decoration: none; 
              padding:.6rem;
              &:hover, &.active {
                color: #fff;  
                background: #0D68CF; 
                text-decoration: underline;
              }
            }
          }
        }  



// FACET STYLING

.facet-manage__top {
  margin: 1rem 0 1.5rem 0; 
}

.facet-list_container {
   .facet-count {
      color: #adadad; 
      display: inline-block; 
      padding-left: .3rem;
    }
  ul.facet-list {
    list-style: none; 
    padding: 0; 
    margin: 1rem 0 ;
    li.facet-item {
       margin-bottom: 1rem;
      &:before  {
        content: none;
        color: transparent;
        }
      }    
  }

}

// MOBILE FACETS

   @include media-breakpoint-down (md)  {
        
        .facet-no-scroll {
          overflow-y: hidden;
          }
        .facet-scroll{
          overflow-y: scroll;
          }
          .floating-filter-search {
          position: fixed;
          top: 0;
          width: 100%;
          background: #ffffff;
          padding-right: 1rem;
          z-index: 1;
          margin-left: -1rem;
          padding-left: 1rem;
          } 

    .site-content .main-content  {
      .search-filter { 
        border-bottom: #0D68CF 1px solid; 
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;   
        .search-filter__heading h2 {
          border-top: none;
          margin-top: 0 ;
          padding: 1rem 0 ;
          margin: 0 ;
          }    
          
        .facet-manage__top {
          margin: 0;
          }
        .floating-filter-search .facet-filters  {
          height: 100vh;
          }
     
        .floating-filter-search #ucl-programme-search-facets-form {
          height: 100vh;
          }
        .search-filter--close {
          background: unset;
          border: 3px solid $linkblue;
        }

      } 
  }

}


