	
.uk-inter-switch {
	padding-bottom: 1.5em;
	span {
	display: inline-block;
	border: 1px solid $utilityblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
    line-height: 1.25rem;
    margin-right: -5px;
    color: $utilityblue;
 //    &:nth-of-type(1) {
	// 	border-radius: 12px 0 0 12px ;
	// 	}
	// &:nth-of-type(2)  {
	// 	border-radius:0  12px 12px  0 ;  
	// }
	&:hover {
    	background-color: $buttonrollover;
    	color: #ffffff;
    }

       &.active  {
    	background: $utilityblue; 
    	color: #ffffff;
       	}
	}
    
 @include media-breakpoint-down(sm) {
    font-size: 0.75rem;
     }
}




// KEY INFO BOOTSTRAP LAYOUT COLUMNS

.prog-key-info__icon {
  @include make-col-ready();

    @include media-breakpoint-up(sm) {
    @include make-col(2);
   }

}


.prog-key-info__text {
  @include make-col-ready();

    @include media-breakpoint-up(sm) {
    @include make-col(10);
   }

}


.node-type-graduate-taught-programme-page .main-content h1 {
		margin: 1.875rem 0 0.7rem 0;
		}

// KEY INFO STYLING



.prog-key-info {
	margin-bottom: 1.875rem;
	border-top: 1px solid #d6d6d6;
	padding-top: 1.5rem;
	.prog-key-info__content {
		background: #f5f5f5;
		padding-bottom: 1.8rem;
		&.container {
			max-width: 100%;
		}
		.btn-cta__icon {
			margin-left: 3%;
			width:55%;
			padding-left:13%;
		}
	}
	.prog-key-info__first-row .prog-key-info__icon {
		padding-top: 1.875rem;
	}
	.prog-key-info__first-row .prog-key-info__text {
		padding-top: 1.875rem;
	}
	.prog-key-info__icon {
		text-align: center; 
		padding-top: 3px;
		 }
	.prog-key-info__text {
		padding-left: 1%; 
		padding-right: 5%;
		div, p {
			font-size: 0.875rem;
		}
	}
	.prog-key-info__text, 
	.prog-key-info__icon  {
		padding-bottom: 2rem; 
	}

	.prog-key-info__status-closed {
		color: $utilityred;
	}

	.prog-key-info__status-open {
		color: $utilitygreen;
	}

	.international {
		padding-top: 1.5rem;
	}

 @include media-breakpoint-down(sm) { 
 	.prog-key-info__icon {
 		display:none;
 	}
 	.prog-key-info__text {
 		padding-left:5%;
 		padding-right: 5%;
 	}
 }
}

// adds some horizontal spacing at edges on small screens
.prog-double-list {
	padding: 0 1rem ;
@include media-breakpoint-up(md) {
	padding:0;
}
	.prog-double-list__content.container {
		max-width:100%;
	}

}


// MODULE ACCORDIONS WITH ICONS

.tt-course-structure .accordion .accordion__title, 
.prog-teaching .accordion .accordion__title{
	svg {
		margin-right: 1.25rem; 
		vertical-align: top;
	}
	span {
		line-height: 1.5;
		padding-right: 1.5rem;
	}
}


// MORE WORK NEEDED ON RESPONSIVENESS

.eight-by-four__right .card-link { 
	margin-top: 1.5rem; 
@include media-breakpoint-up(md) {
	margin-top: 0;
}
}


.prog-choice.background__gray {
	padding: 6%;
	margin-bottom: 3rem;
	 .btn-cta__icon {
	 	width: 100%;
	 	max-width:100%;
	@include media-breakpoint-up(md) {
		width: 50%;
	 	max-width: 50%;
}
	 }
}

/*--------------------------
TEACHER TRAINING
----------------------------*/


// PRACTICAL GRID

 .practical-summary  {
 	padding-top: 1.875rem;
 	.container .row:first-of-type {
  		}
 	.practical-summary__content {
		svg.feather-check {
		float: left;
		}
		h4 {
		float: left; 
		padding: 6px 1.25rem;
		}
		p {
		clear: both;
		}
		.forward-link {
		padding-left: 3.125rem;
		}
	}
 }

.six-by-six__left  .practical-summary__content p { 
	padding: 0 3.125rem;
 }

 .six-by-six__right  .practical-summary__content p { 
	padding-left: 3.125rem;
 }


// QUALIFICATIONS SECTION


.prog-requirements .tabs--active-grey {
	margin: 2.5rem 0 3rem 0;
	.tabs__content {
		background: #F5F5F5;
		}
	.prog-requiremements__other, .prog-equivalencies {
	padding: 1rem 1.8rem;
	}

}

// Layout of exam grid


.prog-requirements{
	.exam-l {
		 @include make-col-ready();
	
		 @include media-breakpoint-up(sm) {
	   	 @include make-col(2);
	  }
		padding: 0;
	}
	
	.exam-m {
		 @include make-col-ready();
	
		 @include media-breakpoint-up(sm) {
	   	 @include make-col(2);
	  }
	  	 @include media-breakpoint-up(xl) {
	   	 @include make-col(1);
	  }
		padding: 0;
		}
	
	
	.exam-r {
		 @include make-col-ready();
	
		 @include media-breakpoint-up(sm) {
	   	 @include make-col(8);   	 
	  }
	     @include media-breakpoint-up(xl) {
	   	 @include make-col(9);
	  }
		padding: 0;
		
	}
	
	.exam-l {
		font-weight: bold;
		padding: 8px;
		}
	
	.exam-m {
		 span {
		margin: 10px;
		background: $utilitygreen;
		color: #ffffff;
		font-weight: bold;
		display: block;
		font-size: 0.9375rem; 
		padding-left: 10px;
		@include media-breakpoint-up(sm) { 
	 	text-align: center;
	 	padding: 0;
	 	
	 	}
		}
	}
	
	.exam-r {
		padding: 8px 20px;
	}
}


// CAREER SECTION

.tt-career, .tt-course-structure {
	.eight-by-four{
		margin-top: 3rem;
	}

}


// OFSTEAD BOX

.ofsted-box {
	border: solid 1px #d6d6d6;
	padding: 2.8rem 2.8rem 0 2.8rem;
	margin: 3rem 0;
	img {
		width: 142px;
		float:left;
		padding-right: 1.5rem;

	}
}

// IOE ADDRESS BOX

.about-ioe .four-by-eight .four-by-eight__left img{
	padding-right: 1.5rem;
	margin-bottom: 0;
}


// APPLY BOX

.tt-course-apply {
	padding: 2.8rem;
	margin-bottom: 3rem;
	.btn-cta__icon {
		width: 45%;
	}
}

/*------------------------------------
IN PAGE NAV MENU
--------------------------------------*/


.floating-menu-widget {
        background: $darkgray;
        color: #fff;
        padding: 1rem 0.8rem 0;
        width: 10.5rem;
        position: fixed ;
        top: 10%;
        // right: 0;

        .feather-menu {
        	vertical-align: -7px;
        	stroke: $orange;
        	display:inline-block;
        	margin-right: 0.7rem;
        }
        a {
        	color: #d6d6d6;
        	text-decoration: none;
        	&:hover {
        		text-decoration: underline;        	}
        }
        h3 {
            display: inline-block;
            font-size: 0.9rem;
        }
        ul {
        	padding-left: 0.1rem; 
        	margin-top: -0.5rem;

        	li {
        		font-size: 0.8rem;
        		line-height: 2;
        		&::before {
        		content: none;
        		}
        		&.active-menu-item{ 
            	padding-left: 7px;  
            	}
            	&.active-menu-item::before {
   				content: "\2023";
        		color: $orange;
        		font-size: 0.8rem;
        		margin-left: 0;
        		}
        	}       
        }

        @include media-breakpoint-up(md) { 
        	position: static;
        	border-bottom: $brightblue 1em solid;
        	padding: 1.5rem 1rem 0;
        	width: 13rem;
        	ul li {
        		font-size: 1rem;
        		line-height: 1.5;
        		&.active-menu-item::before {
        		font-size: 1rem;
        		}        		
        	}
        	h3 {
        		font: 1rem;
        		}
       }   
       // MENU POSTIONS TABLET AND MOBILE
       @include media-breakpoint-down(sm) {
        	right: 0; 
        	top: 140px;
        }
        @include media-breakpoint-between(sm,md) {
        	right: 0; 
        	top: 170px;
        }
     // TOGGLE CLASS FOR MENU LINKS	
      .hidden-menu-links.hide {
        display: none;
      }
       
  }

// JS RELATED CLASSES LEAVE HERE 

    // DESK TOP POSITION
      .floating-menu {
        position: fixed;
        top: 10px;     
       }

      .floating-widget-area {
        height: 80%;
      }

      .affixed-end-of-container {
        position: relative;
        top: 100%;
      }
