/* ---------------------------- 
FEED - LISTING - COURSE FINDER - SEARCH BOX
------------------------------*/

  .course-search-box,
  .listing-search-box {
		width: 100%;
		    form input[type="search"]  {
       	appearance: none;
    		-webkit-appearance: none;
    		padding: 0 10px 0 18px;
    		color: #333;
    		border: 0;
    		outline: none;
   			float:left;
  			width: 80%;
  			height: 3.8rem;  
        	font-size: 1.125rem;  								
     	}

     	form input[type="submit"]  {
       	float: right; 
      	width: 20%; 
     		appearance: none; 
     		-webkit-appearance: none; 
     		border: none; 
     		height: 3.8rem;     		
        	font-size: 1rem;
        	cursor: pointer;
        }

//AUTO COMPLETE OVERIDES 
      #autocomplete  {
        background: white;
        padding-top: 1rem;
        div {
          padding-left: 1.5%;
          }
        li {
          padding: 10px 0;
        }
        &.selected {
          background: $utilityblue;
          }
        }
      }

// CUSTOM SITE COLOURS

.course-search-box {
  	 form input[type="search"] {
  	 	border: 1px solid $utilityblue;
  	 }
  	 form input[type="submit"] {
  	 	background: $utilityblue;
     	color: #fff;
  	 }
  }


  .listing-search-box {
  	 form input[type="search"] {
  	 	border: 1px solid #333333;
  	 }
  	 form input[type="submit"] {
  	 	background: #333333;
     	color: #fff;
  	 }
  }

// THEMES COLOURS AND SPACING ETC FOR DEDICATED LISTING PAGES.

// LISTING CORE LAYOUT

.listing-results-container {
	padding: 0;
}

.listing-results-container.container {
	max-width: none;
	}

.listings-page .main-content h2 {
	border-top:none; 
	margin-top: 0; 
	padding-top: 0;
	}

.listing-left-column {

	@include make-col-ready();

	@include media-breakpoint-up(md) {
   	@include make-col(8);
  	}
	padding: 0;
}

.listing-right-column  {

	@include make-col-ready();

	@include media-breakpoint-up(md) {
   	@include make-col(4);
  	}
	padding: 0;
}


// FEATURED STORY

.featured-story {
	.featured-story__eyebrow {
		text-transform: uppercase;
		font-size: 1rem;
		color: #5c5c5c;
		margin-bottom: 0.5rem;
		}
	h2 {
		margin-bottom: 1rem;
		}
	.forward-link {
		margin-top: 2rem;
	}
	img {max-height:387px;}
}


// SELECTED STORIES 

.selected-stories {
	.card {
		.card__icon{
			background: #000000;
			svg {
				stroke : #ffffff;
				}			
			}
		h3 a {
			color: #333333;
			 	&:hover {
				color:	#333333;
				}
			}
	}
}




.listings-search-filter {
		@include media-breakpoint-up(md){
	margin-left: 25%;
	}
	 .search-filter__svg-dt{ 
	 	background: #000000;
	 svg {
	 	stroke: #ffffff;
	 	color: #ffffff; 
	 	}
	 }
	}

.search-filter.listings-search-filter {
	border-top: #000000 1px solid;
	}

 @include media-breakpoint-down (md)  {
 	.site-content .main-content .search-filter { 
      	border-bottom: #000000 1px solid; 
      }
 }

.listing-result__image {

	@include make-col-ready();

	@include media-breakpoint-up(md) {
   	@include make-col(3);
  	}
	padding: 0;
}

.listing-result__text-content {

	@include make-col-ready();

	@include media-breakpoint-up(md) {
   	@include make-col(9);
  	}
	padding: 0;
}




.listing-result__text-content {
	margin-bottom: 2.1875rem;
	padding-left: 32px ;

	h4 {
		margin-bottom: 0.3rem;
		}
	.listing-meta {
		margin-bottom: 0.5rem;
		}
	.listing-department {
		color: #5c5c5c; 
		margin-bottom: 0.5rem;
		}
	}

.listing-search-box {
	margin-bottom: 50px;
	}




// .listings-search-filter .search-filter__svg-dt {padding: 0.9rem;}

/* ------------------------ INPAGE FEED -------------------- */

// BOOTSTRAP AND FLEX LAYOUT ELEMENTS

.inpage-feed__left {

   @include make-col-ready();


    @include media-breakpoint-up(md) {
      @include make-col(3);
     
    }
}

.inpage-feed__right{

   @include make-col-ready();


    @include media-breakpoint-up(md) {
      @include make-col(9);
      padding-right: 0;
     
    }
}

// STYLING FOR FEED WITH TEXT AND IMAGE NOT CURRENTLY IN USE IN PROSPECTUS 12/21

// // col-8
// .inpage-feed-content__text {
// 	flex: 0 0 66.6666666667%;
// 	max-width: 66.6666666667%;
// 	position: relative;
// 	width: 100%;
// 	padding-right: 16px;
// 	padding-left: 16px; 
// 	}

// // col-4
// .inpage-feed-content__image {
//     flex: 0 0 33.3333333333%;
// 	max-width: 33.3333333333%;
// 	position: relative;
// 	width: 100%;
// 	padding-right: 0; 
//  }


.inpage-feed-content__text { 
	flex: 100%;
	max-width: 100%;
	padding:0 16px;
	}



/*----------------- INDIGO STYLING -----------------*/

.inpage-feed {		
		padding: 0;
		margin-bottom: 1.5rem;
		margin-right: -16px;
		 h1 {
		 	margin-bottom: 1.875rem;
		 }
		 img {
		 	max-height: 117px; 
		 	min-width: 102px; 
		 	min-height: 44px ;
		 	float:right;
		 }
}



.inpage-feed__left{
	background-color: $yellow;
	padding: 2rem 0 2rem 5.442%;
	padding-bottom: 3rem;
	align-self: flex-start !important;
	.forward-link a {
		color: #000;
		}							
	.forward-link svg {
		stroke: #000;
	}
	&:after {
  			content: '' !important;
  			position: absolute;
  			display: block !important;
  			z-index: -1; 
  			top: 0;
  			background-color: inherit;
  			height:100%;
  			width: 9600px;
  			right:100%;  
  		} 
 // IMPORTANT RULES OVERRIDE GLOBAL RESET CLEAR FIX ON MAIN TO SORT IPAD BUG
}

.inpage-feed__right{
		border-top: 0;	
	}


.inpage-feed-content {
	padding: 2.5rem 0 2.5rem 5.6899%;
	border-left: $yellow 0.7rem solid;
	margin-left: -32px;
	clear: both;
		.events-feed__type {
 			color: #737373;
 			font-size: .75rem;
 			text-transform: uppercase;
 			line-height: 0.781;
 			margin-bottom: 1rem;
 		}
 		.row {
 			border-top: #333 solid 1px; 
 			padding-top: 1.5rem; 
 			margin-top:  1.5rem;
 				&:first-child {
 		 		border-top: 0;
 		 		padding-top: 0; 
 		 		margin-top: 0;
 		 		}
 		}
 		.inpage-feed-content__text {
 			padding-right: 2.9629%;

 		}
}



@include media-breakpoint-up(md){
// NO IMAGES IN USE A THE MOMENT 12/21 

.inpage-feed {
	margin-right: 0;
	img {
	min-width: 102px; 
	min-height: 44px ;
	}
}

.inpage-feed__right {
	border-top: $yellow 5rem solid;	
	}

.inpage-feed__left {
	padding:5rem 8.39% 5rem 0 ;
	}

.inpage-feed-content {
	border-left: 0;
	}

}