
/* --------------------- HEADER ------------------------
-----------------------*/


// REMOVED FOR NOW MENU LINKS IN FOOTER MENU

// .top-menu-tab {
// 	position: absolute;
// 	top: 0;
// 	left: 35%;
// 	text-align: center;
// 	background: #fff;
// 	z-index: 100;
// 	border-radius: 0 0 20px 20px; 
// 	padding: 11px 23px;
// 	color: #0D68CF;
// 	font-weight: bold;
// 	box-shadow: 0px 5px 5px -1px rgba(64,64,64,0.75);
// 	font-size: .8rem;
// 		.top-menu-tab__dt {
// 			display: none;
// 		}
// 		svg, span {
// 			vertical-align: middle;
// 		}
// @include media-breakpoint-up(md) {
// 	left: 42.8%;
// 	.top-menu-tab__sm {
// 		display: none;
// 		}
// 	.top-menu-tab__dt {
// 		display: inline-block;
// 		}
// 	.masthead svg{
// 		display: none;
// 		}
// 	}
// }


.top-menu-tab {
	display: none;
}

// OLD MASTHEAD STYLING REMOVE WHEN HTML IS IN PLACE.

// .masthead {
	
// 	.login-placeholder {
// 		float: left; 
// 		width: 20%;
// 	}
// /*SEARCH BOX PLACEHOLDER*/
// 	.search-placeholder {
// 		float: right;
// 		}
// 	.search-form__input{
// 		width: 90%;
// 		}
// 	.search-form__input--search {
// 		background: #fff;
// 		}
// 	 svg{
// 		float: right;
// 		}
// @include media-breakpoint-down(xs) { 
// 	.search-placeholder {
// 		display: none;
// 	}
// }
// @include media-breakpoint-up(sm) { 
// 	 svg {
// 	 	display: none;
// 		 }
// }
// }



// NEW MASTHEAD STYLING 

.masthead {
	background-color: #EBEBEB;
	height: 32px;
	
	.search-login {
		float: left; 
		width: 20%;
		font-size:.8rem;
		padding-left: 16px;
		@include media-breakpoint-up(sm) {
		font-size: 1rem;
		padding-left: 0;
		}
	}
/*GLOBAL SEARCH*/
	.global-search{
		float: right;
		width: 60%;
		background-color: #f5f5f5;
		margin-right: 10px;
			form input[type="search"]  {
       		appearance: none;
    		-webkit-appearance: none;
    		padding: 0 10px 0 18px;
    		background-color: #f5f5f5;
    		color: #333;
    		border: 0;
    		outline: none;
   			float:left;
  			width: 80%;
  			height: 32px;
  								
     	}

     	form input[type="submit"]  {
       		float:right; 
      		width:20%; 
     		appearance: none; 
     		-webkit-appearance: none; 
     		border:none; 
     		height:32px;
     		background: #d6d6d6;
     		color: #333;
           	}

	@include media-breakpoint-up(sm) {
		width:30%;
		margin-right: 0;
	}
	// @include media-breakpoint-down(xs) {
	// 	display: none;
	// }
	// needed if global menu tab is included in header
	}

	
}
	.masthead__search-icon {
		float: right;
		padding-right: 5px;
	 	display: none;
		
	}


.header {
	background: #333; 
	border-bottom: $brightblue 1em solid;
		img {
			margin-bottom: 0;
		}
		.header__menu {
			color: white;
			display: inline-block;
			line-height: 1.2;
			display: flex;
			font-weight: bold;
			align-items: center;
			width:100%;
			 	p {
				display: inline-block; 
				padding: 5px 0 5px 10px; 
				margin: 0; 
				font-size: .9rem; 
				width: 5.32670%;
				.header-menu__dt-text {
					display: none;
					}
				.header-menu__sm-text {
					text-transform: capitalize;
				}
				}
			}
		#logo {
		 	background: $brightblue;
		 	min-height: 20px;
		 	min-width: 100px;
		 	margin-top: 10px;
		}
@include media-breakpoint-up(sm) {
	.header__menu {
		line-height: 1.7;
		p {
			font-size: 1rem;
			width: auto;
			.header-menu__dt-text {
				display: inline;
				}
			.header-menu__sm-text {
				text-transform: none;
				}
			}
		}
}
}

// DROP ON RIGHT BORDER BELOW LOGO IN CL DESIGNS NOT TO BE USED IN PROSPECTUS

// .column-top  {
//  	.column-top__left { 
// 		 	background: #fff; 
// 		 	border : 0; 
// 		 	height: .5em;

// 		 } 
// 	.column-top__right {
// 			background: $brightblue; 
// 			border: 0; 
// 			height: .5em;
// 			&:after  {
//   				content: '';
//   				position: absolute;
//   				z-index: -1; 
//   				top: 0;
//   				background-color: inherit;
//   				height:100%;
//   				width: 9600px;
//   				left:100%;  
// 			}
// 	}
// @include media-breakpoint-down(sm) { 
// 	display: none;
// 	 }
// }	

