/*-----------
HERO
-----------*/


.hero, .column-top-hero {
	position: relative;
}

.hero-content {
	background-color: #00818F;
	color: white;
	font-weight: bold;
	padding: 40px 16px;
	h1 {
		font-size: 40px;
		line-height:  48px;
	}
	p {
		font-size: 24px;
		line-height: 28.8px;
	}
	&:after, 
	&:before {
	  	content: '';
  		position: absolute;
  		z-index: -1; 
  		top: 0;
  		bottom: 0;
  		background-color: inherit;
  		height: 100%;
  		width: 9600px;
  		right: 100%;
	}
	&:after {		
		left: 100%;
		}

@include media-breakpoint-up(md) {
	 padding: 66px 120px 70px 120px;
	 	h1 {
			font-size: 60px;
			line-height: 66px;
			}
		p {
			font-size: 30px;
			line-height: 36px;
			}
}


}


// LEFT DROP COLOUR BLOCK


.column-top-hero__left {
	background: #00818F; 
	border: 0; 
	height: 1.8em;
		&:after  {
  			content: '';
  			position: absolute;
  			z-index: -1; 
  			top: 0;
  			background-color: inherit;
  			height:100%;
  			width: 9600px;
  			right:100%;  
  		}
}





	

