
.accordion {
	border-top: #d6d6d6 solid 1px;
	.accordion__title { 
		font-size: 1rem; 
		line-height: 1.203;
		font-weight: bold; 
		padding: 20px 0; 
		border-bottom: solid 1px #d6d6d6;
		&.active {
			border-bottom: 0;
			span:after{
				content: "\02C4";
			}
		}
		span {
			display:block;
			position: relative;
			&:after{ 
				content: "\02C5";
				position: absolute;
				right: 0;
				font-size: 1.5em;
				color: #0D68CF;
				top: -5px;
	 			font-weight: normal; 
				}	
			}
	}
	
	dd.accordion__description  {
		margin-left: 0; 
		padding-top: 30px;
		&.active {
			border-bottom: solid 1px #d6d6d6; 
			padding-bottom: 30px; 
			margin-left:0;
		}
	}

}







