/*-----------
ACCORDION
--------------------*/

.accordion {
	 @at-root dl#{&} {
	 	padding-left:0;
	 	}
	.accordion__title:first-of-type {
		border-top: #d6d6d6 solid 1px; 
		}
	.accordion__title { 
		font-size: 1rem; 
		line-height: 1.203;
		font-weight: bold; 
		padding: 1.25rem 0; 
		border-bottom: solid 1px #d6d6d6;
		&:hover {
            cursor: pointer;
        	}
		&.active {
			border-bottom: 0;
			span:after{
				content: "\02C4";
				}
			}
		// OLD CODE REPLACED BY BUTTON VERSION REMOVE ALL REFS TO SPAN AFTER RELEASE.
		span {
			display:block;
			position: relative;
			padding-right: 2.2rem;
			&:after{ 
				content: "\02C5";
				position: absolute;
				right: 0;
				font-size: 1.8rem;
				top: -7px;
	 			font-weight: normal; 
	 			padding-right: 1%;
				}	
			}
		}
	}

// ACCESSIBLE ACCORDIONS REPLACE SPAN VERSION ABOVE.
  .accordion {
  	.accordion__title {
  		button {
  			all: unset;
  			display:block;
				position: relative;
				width: 100%;
				box-sizing: border-box;
				padding-right:2.2rem;			
						&:after{ 
						content: "\02C5";
						position: absolute;
						right: 0;
						font-size: 1.8rem;
						top: -7px;
	 					font-weight: normal;
	 					padding-right: 1%;
						}	
  		}
  		&.active button:after {
  			content: "\02C4";
  			}
  	} 
  }


dd.accordion__description  {
		margin-left: 0; 
		h2 {
			margin-top: 0;
			border-top: none;
			padding-top: 0;
		}
		&.active {
			border-bottom: solid 1px #d6d6d6; 
			padding-bottom: 1.875rem; 
			margin-left:0;
		}

}

// BARTLETT ACCORDION ARROW COLOUR

body[class*=site-bartlett] {
	.accordion .accordion__title span:after {
		color: #000000;
		}
}


// BARTLETT TOP HOMEPAGE MENU - THREE COLUMNS ON A HUB PAGE.
// IDEALLY THIS SHOULD BE REPLACED WITH A DEDICATED COMPONENT 

.site-bartlett.node-type-hub-page {
	.main-content {	
		.node-hub-page {
			.four-by-four-by-four {	
				.accordion {
					margin-bottom: 0;
					padding-top:  1.25rem ;
					
					.accordion__title{
						@include bold-four;
						color: #333;
						border-bottom: none;
						border-top: none;									
						span {
							padding-left: 1rem; 
							border-left: #333333 5px solid;
							margin-left: 1px;
							&:hover {
								text-decoration: underline;
								}	
							}
						& span::after {
						color: black;
						top: -3px;
						font-size: 2.5rem;
						}
						button {
							padding-left: 1rem; 
							border-left: #333333 5px solid;
							margin-left: 1px;
							&:hover {
								text-decoration: underline;
								}	
							}
						& button::after {
						color: black;
						top: -3px;
						font-size: 2.5rem;
						}
					}					 
				}
				dd.accordion__description  {
					&.active {
						border-bottom: 0; 
						padding-bottom: 0			
					}
				}
			}
			@include media-breakpoint-up(md){ 
				.four-by-four-by-four {
					.accordion__title {
						padding-right: 1rem;
						}
					.four-by-four-by-four__left { 
						margin-bottom: 0;						
						}
					.four-by-four-by-four__middle { 
						margin-bottom: 0;
						}
					.four-by-four-by-four__right {
						margin-bottom: 0;
						}
				}
	
			}
		}
	}	
	
}




/*------------- 
TABS 
--------------- */

// BASE STYLES

.tabs__navigation  {
	span {
		display: block;
		a {
			text-decoration: none; 
			display: block; 		
		}
	}
}   

@include media-breakpoint-up(md){ 
	.tabs__navigation  {
		display: flex;
		}
	
}

.tabs__content {
	margin-bottom: 1.5rem;
	h2 {
		margin-top: 0;
		border-top: none;
		padding-top: 0;
		}

	.tab-content {
		padding: 1.875rem 0 0 0;
		// toggle classes
		display:none;
			 &.active {
		 		display:block
		 	}
		 	.container.four-by-four-by-four {
		 		margin-bottom:0;
		 	}
	}
}


// REMOVES BLACK LINE AND RELATED PADDING FOR FIRST H2 IN TABS
.main-content .tab-content.active >  div:first-of-type h2,
.main-content.tab-content.active >  h2:first-of-type
  {
 	border: none; 
 	padding-top: 0; 
 	margin-top: 0;
 	}

// FLAVOURS

.tabs--all-transparent {
	.tabs__navigation {
		border-bottom: 3px solid #ebebeb;
		span a  {
			padding-bottom: 1.8125rem; 
			padding-top: 0.625rem;
			margin-right: 1.875rem; 
		}
		a.active {
			border-bottom: 3px solid #0d68cf;  
			font-weight: bold; 
			margin-bottom: 1rem; 
		}
	}
}


@include media-breakpoint-up(md){ 	
	.tabs--all-transparent .tabs__navigation  {
		 span a  {
		 	padding-top: 0;
		 }
		 a.active {
		  	margin-bottom: -3px;
		 }
	}
}


 .tabs--active-grey, 
 .tabs--active-gray  {
	.tabs__navigation
		span a {
			padding: 0.75rem 1.5rem; 
			font-size: 1rem; 
			line-height: 1.203; 
			font-weight: bold;
		}
		 a.active {
		 	border-top: 3px solid #0d68cf; 
		 	background: #f5f5f5;
		 }
	}  


//TAB CLASS NAME SHOULD BE CHANGED IF POSSIBLE TO REMOVE BLUE AND ADD A MORE GENERIC CLASS NAME.
.tabs--active-blue  {
	.tabs__navigation {
		span a {
			padding: 2rem; 
			font-size: 1rem; 
			line-height: 1.203; 
			font-weight: bold;
		}
	}
}


// BARTLETT PALETTE BLUE BECOMES BLACK!
body[class*=site-bartlett]{
	.tabs--active-blue  {
		.tabs__navigation {
			background: $backgroundlightgray;
			a { 
				color: #000000;
				}
			a.active {
				background: #000000; 
				color: #ffffff;
			}
	
		}
	}
}





