
/*-------------------------------------------------------------------

// PATTERNS TO BE DEFINED AS GENERIC TYPES AND MOVED TO OWN PARTIALS

-------------------------------------------------------------------*/


		.right-page-nav {
			background: #E6F5F6 ;
			border-top: 2px solid $brightblue;
			padding: 1.875rem; 
			margin-bottom: 2.5rem;
			position: -webkit-sticky;
			position: sticky;
			top:0;
  				ul {
				list-style-type: none;
				padding: 0 0 0 15px;
				margin: 0;
			}
			li {
				margin-bottom: .5rem;
			}
		}


// MISC BITS....


.background__gray {
	background-color: #f5f5f5;
	 }

.page-update {
	margin-bottom: 3.125rem;
	padding-left: 1rem;
		svg {
			vertical-align: top; 
			margin-right: 0.9375rem;
		}

}

// H2 MODIFICATIONS FOR LAYOUTS AND COMPONENTS IN LAYOUTS.
// REMOVES BORDER FROM TOP OF H2 IN LAYOUT COLUMNS AND NESTED COMPONENTS ALL CONTENT TYPES

.left-column .main-content .container .row div .entity h2 {
	border-top: 0;
	}

// REMOVES TOP MARGIN GAP FOR LAYOUT COMPONENTS H2
.node-type-hub-page {
	.main-content {	
		.node-hub-page {
			.container .row div
			h2 {
				margin-top: 0;
			}
		 }
	}
}

/* --------------- 	RESUSABLE LAYOUTS --------------------------- */	

/* -------------  TWO COLUMN SUB-LAYOUTs  ---------------------- */

/*------------------- HALF AND HALF STANDARD LAYOUT  --------------------------*/


// CONTAINER 
.container.six-by-six {
	padding: 0;
	margin: 0;
 @include media-breakpoint-up(xs) {
	max-width: none;
	}

 @include media-breakpoint-up(sm) {
	max-width: none;
	}
}

// COLUMNS
// BOOTSTRAP LAYOUT MIXINS FOR COLUMNS
.six-by-six__left,
.six-by-six__right {

	 @include make-col-ready();

	 @include media-breakpoint-up(md) {
   	 @include make-col(6);
  }
	padding: 0;
}


// OTHER MEDIA QUERY STYLES FOR COLUMNS

.six-by-six__right, .six-by-six__left {
	margin-bottom: 1.5rem;
	 @include media-breakpoint-up(md) {
	 	margin-bottom: 0;
	 }
	}

 @include media-breakpoint-up(md) {
 	.six-by-six__right,
 	.six-by-six__left {
		padding-bottom: 1.875rem;
		}
	.six-by-six__left {
		padding-right: 1rem;
		}
	.six-by-six__right {
		padding-left: 1rem;
		}
}


/* ------------- TWO THIRDS AND A THIRD ------------------------*/

/* ----------------- BIG COLUMN LEFT SMALL RIGHT -----------------*/


.container.eight-by-four {
	padding: 0 0 1.875rem;
	margin: 0;
@include media-breakpoint-up(xs) {
	max-width: none;
	}
@include media-breakpoint-up(sm) {
	max-width: none;
	}
}


.eight-by-four__left
 {
	 @include make-col-ready();

	 @include media-breakpoint-up(md) {
   	 @include make-col(8);
  }
	padding: 0;
}


.eight-by-four__right
 {
	 @include make-col-ready();

	 @include media-breakpoint-up(md) {
   	 @include make-col(4);
  }
	padding: 0;
}


.eight-by-four__right {
	 @include media-breakpoint-up(md) {
	 	padding-left: 1rem;
	 }
}
.eight-by-four__left {
	padding-bottom: 1.5rem;
	 @include media-breakpoint-up(md) {
	 	padding-right: 1rem;
	 	padding-bottom: 0;
	 }
}


// RIGHT COLUMN BREAKS OUT OF RIGHT ALIGNMENT


.eight-by-four__right a.card-link {
	
	@include media-breakpoint-up(md) {
		margin-right: -2rem;
		margin-left: 2rem;
		 }
}



/* ------------- THIRD AND TWO THIRDS ------------------------*/

/* ----------------- BIG COLUMN RIGHT SMALL LEFT -----------------*/


.container.four-by-eight {
	padding: 0 0 1.875rem;
	margin: 0;
	@include media-breakpoint-up(xs) {
	max-width: none;
	}

 	@include media-breakpoint-up(sm) {
	max-width: none;
	}
}


.four-by-eight__left
 {
	 @include make-col-ready();

	 @include media-breakpoint-up(md) {
   	 @include make-col(4);
  	}
	padding: 0;
	}


.four-by-eight__right
 {
	 @include make-col-ready();

	 @include media-breakpoint-up(md) {
   	 @include make-col(8);
  	}
	padding: 0;
	}


.four-by-eight__right {
	@include media-breakpoint-up(md) {
		padding-left: 1rem;
	}
}
.four-by-eight__left {
	@include media-breakpoint-up(md) {
		padding-right: 1rem;
		}
	}


/*---------------------- THREE 	EQUAL COLUMNS SUB LAYOUT -------------------------*/


.four-by-four-by-four.container { 
	margin: 1rem  auto 1.5rem auto;
	padding: 0;	 
	@include media-breakpoint-up(xs) {
	max-width: none;
	}

 	@include media-breakpoint-up(sm) {
	max-width: none;
	}
	}

	.four-by-four-by-four__left,
	.four-by-four-by-four__middle,
	.four-by-four-by-four__right {
	 @include make-col-ready();

	 @include media-breakpoint-up(md) {

   	 @include make-col(4);
	
  	}
  	padding: 0;
  	margin-bottom: 1.5rem;

	}

	
	.four-by-four-by-four__left {
		 @include media-breakpoint-up(md) {
			 	padding-right: 16px;

			 }
	

	}
	.four-by-four-by-four__right {
		 @include media-breakpoint-up(md) {
			 	padding-left: 16px;
			 }
	

	}

	.four-by-four-by-four__middle {
		 @include media-breakpoint-up(md) {

			 	padding-right: 8px;
			 	padding-left: 8px;
			 }
	

	}
	


/*--------------------------------------------------------------
FOUR EQUAL COLUMNS SUB LAYOUT
-------------------------------------------------------------*/

.three-by-three-by-three-by-three,  
.four-item-layout {
	&.container {
	margin: 1rem  auto 0 auto;
	padding: 0;	 
	@include media-breakpoint-up(xs) {
	max-width: none;
	}

 	@include media-breakpoint-up(sm) {
	max-width: none;
	}
	}

	.four-item-column__one, 
	.four-item-column__two, 
	.four-item-column__three, 
	.four-item-column__four {
	 @include make-col-ready();

	 @include media-breakpoint-up(md) {

   	 @include make-col(3);
	
  	}
  		padding: 0;
  		margin-bottom: 1.5rem;
	}

// REASSIGNS BOOTSTRAP COLUMN PADDING SO LEFT AND RIGHT ITEMS ARE FLUSH TO CONTAINER MARGINS


	 @include media-breakpoint-up(md) {
	.four-item-column__one {
		padding-left: 0px; 
		padding-right: 24px;
		}
	.four-item-column__two {
		padding-left: 6.5px; 
		padding-right: 16px;
		}  
	.four-item-column__three {
		padding-right: 6px; 
		padding-left: 16.5px;
		}  
	.four-item-column__four {
		padding-right: 0px; 
		padding-left: 24px;
		} 
	}

}






/* --------------------- CUSTOM LAYOUTS MICROSERVICE----------------------*/

/*------------------- RELATED INFO PANEL  --------------------*/

// CONTAINS CARD LINKS WITH CUSTOM PADDING

.container.site-width.related-info {
	padding: 2.5rem 1rem;
	border-top: 1px solid #d6d6d6;
	margin-top: 1.25rem;
	@include media-breakpoint-up(md) {
		padding: 2.5rem 0;
	}
}

.related-info { 
   	
 	.related-info__column {
 		margin-bottom: 1.875rem;
	 	@include make-col-ready();

	@include media-breakpoint-up(md) {
   	 	@include make-col(3);
   	 	&:nth-of-type(1) {
		padding-left: 0; 
  		}
  		&:nth-of-type(4) {
		padding-right: 0;
		}
	}
	}
}




/* --------------- CONTACT PANEL -------------- */


.contact-panel-screen-width.container,
	{
	max-width: 100%;
	padding-left: 0;
	}

.contact-panel.container {
		padding: 0;
		margin: 0 auto 1.5rem 0;
		width: 100%;
	}


.contact-panel {

	//BOOTSTRAP LAYOUTS

	// MAIN CONTAINER

	.column-left {
		 	@include make-col-ready();

	@include media-breakpoint-up(md) {
   	 	@include make-col(10);
   	 	padding: 0;
   	 	}
   	 }

	.column-right {
		 	@include make-col-ready();

	@include media-breakpoint-up(md) {
   	 	@include make-col(2);
   	 	padding: 0;
   	 	}
   	 }
	 .card-wrapper  {
   	 	background-color: #ffffff;
		overflow: hidden;
		overflow-wrap: break-word;
  		word-wrap: break-word;
  	    word-break: break-all;
  		word-break: break-word;
  	  		@include media-breakpoint-up(md) {
  			padding-right: 1rem;
  		}
   	 }


	.contact-panel__card-one {
		margin-bottom: 3rem;
		width: 100%;
		.card-wrapper {
			margin-top: 1.875rem;
			width: 100%;
	@include media-breakpoint-up(md) {
   			margin-right: 1.875rem;
   	   		}

   	}
  @include media-breakpoint-up(md) {
  		width: 90%;
  		}
   @include media-breakpoint-up(lg) {
  		width: 70%;
  		 }

}
	.responsive-square {
		position: relative;
		padding-left: .5rem;
  		width: 40.17%;
 		max-height: 180px;
  		max-width: 180px;
  		display: inline-block;
  		float: none;
  		&:after {
  		 	content: "";
  			display: block;
  			padding-bottom: 100%;
  			}

 	 	.contact-panel__image{
  			position: absolute;
  			width: 100%;
  			height: 100%;
  			img {
				height: 100%;
				width: 100%;
				margin-bottom: 0;
			}

		}
		@include media-breakpoint-up(sm) {
			float: left;
			padding-left: 0;
		}
	}

	.contact-panel__content {
		float: none;
		width: 100%;
		padding: 1.5rem .5rem;

		p,
   		h5,
   		a {
   			margin-bottom: 12px;
   			font-size: 1rem;
		}

	@include media-breakpoint-up(sm) {
		float: left;
		padding: 1.5rem 1.5rem 0 1.5rem;
		width: 57%;
	}

    }

}

// PROFILE CARD FOR NEWS AND EVENTS - THIS IS A TEMP FIX FOR BARTLETT AND WILL BE REPLACED WITH DEDICATED COMPONENT


 	.site-bartlett.node-type-event .contact-panel, .node-type-news .contact-panel {
		.responsive-square .contact-panel__image img {
			border-radius: 50%;
			}
		.card-wrapper {
		box-shadow: 0px 0px;
		}
 	}


/*-------------- SIMILAR COURSES PANEL ---------------*/

// IN A FOUR-BY-FOUR-BY-FOUR CONTAINER

.similar-courses {
			
	.four-by-four-by-four.container {
			@include media-breakpoint-between(md, lg) {
					margin-left: 0;
			}
		}

	.card-link {
		width: 79.4123%;
	}
	img {
		max-height: 252px;
	}
}
  


/*---------------- PROGRAMME CHOICE --------------------*/

// SHOULD THIS BE A GENERIC COMPONENT - IS THIS PADDING AND BACKGROUND USED ELSEWHERE?



.programme-choice {
	padding: 3.125rem 3.125rem 1.875rem 3.125rem;
	margin: 3.75rem 0;
	.btn-cta__icon {
		margin-top: 3.75rem;
		max-width: 430px;
	}
}

