
// CLEAR LEFT TYPOGRAPH 

// HEADER STYLES

@mixin bold-four {
	font-size: 1.875rem;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	font-weight: bold;
	@include media-breakpoint-up(lg) {
		font-size: 2.25rem;
		}
}
// h1 36px 30px

@mixin bold-three {
	font-size: 1.5rem;
	line-height:1.2;
	margin-bottom: 1.5rem;
	font-weight: bold;
	@include media-breakpoint-up(lg) {
		font-size: 1.875rem;		
		}
}
//h2 30px 24px

@mixin bold-two {
	font-size: 1.25rem;
	line-height: 1.2;
	margin-bottom: 1.5rem;
	font-weight: bold;
	@include media-breakpoint-up(lg) {
		font-size: 1.5rem;
		}
}
//h3 24px 20px

@mixin bold-one {
	font-size: 1.125rem;
	line-height: 1.2 ;
	margin-bottom: 1.5rem;
	font-weight: bold;
	@include media-breakpoint-up(lg) {
		font-size: 1.25rem;
		}
	} 
//h4 20px 18px


@mixin bold-zero {
	font-size: 1rem;
	line-height: 1.2;
	margin-bottom: .5rem;
	font-weight: bold;
	}
//h5 16px

@mixin bold-zero-uc {
	@include bold-zero;
	text-transform: uppercase;
	}
// uppercase 

@mixin bold-minus-one {
	font-size: 0.75em;
	line-height: 1.2;
	margin-bottom: .5rem;
	font-weight: bold;
}
//h6 12px

@mixin bold-minus-one-uc {
	text-transform: uppercase;
}


// BODY CONTENT TEXT STYLES
// BASE PARAGRAPH STYLES 


@mixin body-content-text {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
	@include media-breakpoint-up(lg) {
		font-size: 1.125rem;
		}
}
//  BODY CONTENT PARAGRAPH TEXT - ALSO SEE PROSE ONE 16px 18px


@mixin standfirst {
	font-size: 1.125rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
	@include media-breakpoint-up(lg) {
		font-size: 1.25rem;	
		}		
}
// STANDFIRST 20px 18px 



//CLEAR LEFT STYLES 
//ILLUSTRATED IN COMPONENT SECTION 
//NOT REALLY USED AT THE MOMENT


// DEFAULT STYLES 

@mixin normal-one {
	font-size: 1.25rem;
	line-height: 1.5 ;
	margin-bottom: 1.5em;
} 
// 20px

@mixin normal-zero {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}
//16px

@mixin normal-minus-one {
	font-size: 0.75rem;
	line-height: 1.5;
	margin-bottom: .5rem;
} 
// 12px

// PROSE STYLES  includes an extra step for body content size not included in components.

@mixin prose-two {
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 1.5em;
	@include media-breakpoint-up(lg) {
		font-size: 1.5rem;
		}
}
// 24px 20px

@mixin prose-one {
	font-size: 1.125rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
	@include media-breakpoint-up(lg) {
		font-size: 1.25rem;	
		}		
}
//20px 18px  min-prose-step one (18) used for body text

@mixin prose-zero {
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
	@include media-breakpoint-up(lg) {
		font-size: 1.125rem;
		}
}
// 16px 18px prose one in components

@mixin prose-minus-one {
	font-size: 0.75rem;
	line-height: 1.5;
	margin-bottom: .5rem;
}
// 12px


//SETS FULL WIDTH BACKGROUND ON BLOCK

// PARENT NEEDS TO BE RELATIVE
// REMOVE LEFT OR RIGHT AS REQUIRED


@mixin colour-breakout {
	&:after, 
	&:before {content: '';
  		position: absolute;
  		z-index: -1; 
  		top: 0;
  		bottom: 0;
  		background-color: inherit;
  		height: 100%;
  		width: 9600px;
  		right: 100%;
  		visibility: visible;
	}
	&:after {		
		left: 100%;
		}
	}
