


body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


p, ul, ol, dl, blockquote, hgroup, address, table, fieldset, figure, pre, img, .page-head, .media, .island, .islet, .pill, .responsive-container, .advert, .menu-block, .box, .input-group, .accordion, .video-wrap {
	margin-bottom: 1.5em;
}


a {
	color: $linkblue;
	line-height: normal;
	&:hover{
		color: $linkbluehover;
		}
}

// MOVE TO VARIABLES.....
 
h1  {
	font-size: 1.875em;
	line-height: 2.5;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 1.5em;
	line-height: 1.8;
	margin-bottom: 1.5em;
}

h3 {
	font-size: 1.25em;
	line-height: 1.5;
	margin-bottom: 1.5em;
}

h4 {
	font-size: 1.125em;
	line-height: 1.35;
	margin-bottom: 1.5em;
}

h5 {
	font-size: 1em;
	line-height: 1.2;
	margin-bottom: 1.5em;
}

.small-header,
h6 {
	font-size: 0.75em;
	line-height: .0.9;
	margin-bottom: 1.5em;
}


/*-----  TEMPLATE CONTENT ---------- 
--------------------------------------*/


.site-content {
	p {
	line-height: 150%;
	font-size: 1em; 
@include media-breakpoint-up(xl){ 
	line-height: 150%;
	font-size: 1.125em;
	 }
}
	h1 {
		margin: 1.562 0;
	}

}


.main-content h2 {
	border-top: solid 1px #333;
	padding-top: 30px ;
	margin-top: 30px;
	clear: both;
}


/*--------------------------------
FEATURE LIST 
--------------------------- */


.feature-list	{
	position: relative;
	padding-right: 15%; 
	margin-top: 2em;
	svg.feather {
		display: inline-block; 
		margin-right: 20px; 
		vertical-align: top; 
		}
	h4 {
		display: inline-block; 
		width: 70%;
	}
	ul {
		padding-left: 75px; 
		position: relative; 
		list-style: none;
	}
	li {
		font-size:1.125em; 
		line-height: 1.5; 
		color: #5C5C5C;
		 }
}



.feature-list li:before {
	content: "\2022"; 
	color: #00818F;
	font-size: 1.3em;
  	display: inline-block; 
  	width: 1em;
  	margin-left: -1em
}