


body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333333;
}


p, ul, ol, dl, blockquote, hgroup, address, table, fieldset, figure, pre, img, .page-head, .media, .island, .islet, .pill, .responsive-container, .advert, .menu-block, .box, .input-group, .accordion, .video-wrap {
	margin-bottom: 1.5rem;
}


a {
	color: $linkblue;
	line-height: normal;
	&:hover{
		color: $linkbluehover;
		}
}

h1  {
	@include bold-four;
}
h2 {
	@include bold-three;
}
h3 {
	@include bold-two;
}
h4 {
	@include bold-one;
}
h5 {
	@include bold-zero;
}
.small-header,
h6 {
	@include bold-minus-one; 
}



/*--------------------------
PLAIN LIST
-------------------------*/
section, 
.site-content {

	ul {
		padding-left: 75px; 
		position: relative; 
		list-style: none;
	}
	li {
		font-size: 1rem; 
		line-height: 1.5; 
		color: #333333;
	@include media-breakpoint-only(md){ 
		font-size: .75rem;
		}
		&:before {
	content: "\2022"; 
	color: #00818F;
	font-size: 1.3rem;
  	display: inline-block; 
  	width: 1em;
  	margin-left: -1em
}
	}

}

	
	// removes bullet points on tabs in editor view
ul.primary {
	padding-left: 0;
	li {
	line-height: normal;
		a {
		padding-top:5px;
		}
		&:before {
		content: none;
		}
	}
}

/*--------------------------------
FEATURE LIST 
--------------------------- */


.feature-list	{
	position: relative;
	padding-right: 15%; 
	margin-top: 2em;
	margin-bottom: 1.5em;
	svg.feather {
		display: inline-block; 
		margin-right: 20px; 
		vertical-align: top;
		@include media-breakpoint-only(md)  {
		width: 30px;
		height: 30px;
	}
	&.forward-link__svg {
		margin-right: 0;
		margin-left: 3em;
		vertical-align: 1px;
	@include media-breakpoint-only(md)  {
		width: 16px;
		height: 16px;
	}
		}
	}
	h4 {
		display: inline-block; 
		width: 60%;
		margin-bottom: .5em;
	@include media-breakpoint-up(lg){ 
		width: 70%;
		}
	}
	
a.forward-link {
		font-size: 0.75rem;
		@include media-breakpoint-up(xl){ 
		font-size: 1rem;
		}
}

}


/*-----  TEMPLATE CONTENT CUSTOM STYLES ---------- 
--------------------------------------*/

.site-content {
	p, 
	.eight-by-four,
	.six-by-six {
		@include prose-zero;
		}


	.page-intro {
		@include prose-one;
		margin-bottom: 1.8rem;
		}
		
	.main-content h1 {
		margin: 1.875rem 0 10px 0;
		}

	.main-content h2 {
		border-top: solid 1px #333;
		padding-top: 1.875rem;
		margin-top: 1.875rem;
		clear: both;
	}

	.top-course-details {
		color: #5c5c5c;
		margin-bottom: 2.8125rem;
	}
	
	.right-column {
		& > h3,
		.view-list h3,
		.contact-info h3  {
			border-top: solid 1px $darkgray;
			padding-top: 1.25rem;
			 }
	p {
		margin-bottom: 0.75rem;
		}

	.contact-info {
		margin-bottom: 2.5rem;
	}

	.contact-info h4{
		font-weight: bold;
		margin-top: 1.875rem;
		}
	
	}
	.view-list ul,
	.right-page-nav ul {
		padding:0;
		list-style: none;
		
		li {
			font-size: 1.125rem;
			line-height: 1.875;
			&:before {
				content: none;
			}
		}
	}
}