


body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333333;
}


p, ul, ol, dl, blockquote, hgroup, address, table, fieldset, figure, pre, img, .page-head, .media, .island, .islet, .pill, .responsive-container, .advert, .menu-block, .box, .input-group, .accordion, .video-wrap {
	margin-bottom: 1.5rem;
}


a {
	color: $linkblue;
	line-height: normal;
	&:hover{
		color: $linkbluehover;
		}
}

h1  {
	@include bold-four;
}
h2 {
	@include bold-three;
}
h3 {
	@include bold-two;
}
h4 {
	@include bold-one;
}
h5 {
	@include bold-zero;
}
.small-header,
h6 {
	@include bold-minus-one; 
}


/*---------------------------
LISTS
----------------------------*/

ol,
dl {
	padding-left: 0; 
	@include body-content-text;
	color: #000;
	}

// BULLET LIST USE SMALLER FONT SIZE - OL DL USE BODY TEXT SIZE.

ul { 
	font-size: 1rem; 
	padding-left: 0;
	line-height: 1.5;	
	}

.main-content {
	ul,
	dl {
	padding-left: 16px;
	}
	ol {
	padding-left: 19px;
	}
}

// Styling for editor view/edit tabs at top of page when logged in

.site-prospective-students-graduate {
		ul.primary,
	ul.primary li {
		padding: 0;
		margin-left: 0;
		line-height: 0;
		}
	ul.primary a{
		padding: 5px 1rem 1px 1rem;
		}
} 

ul.primary {
		margin-bottom: 1.5rem;
		}




/*--------------------------------
FEATURE LIST 
--------------------------- */


.feature-list	{
	padding-right: 5%; 
	margin-bottom: 1.5em;
	ul {
		padding-left: 1rem;
		clear: both;
		padding-top: 1.5rem;
 @include media-breakpoint-up(sm) {
	   	padding-left: 4.6875rem;
	   }
		li {
			padding-left: 1.25rem;
			margin-bottom: 1rem;
			&::marker {
				color: #000;
			}
		}
	}
	svg {
		stroke: currentColor;
		}
	svg.feather,
	svg.icon {
		float: left;
		margin-right: 1.25rem; 
		&.forward-link__svg {
		margin-right: 0;
		vertical-align: 1px;
	@include media-breakpoint-only(md)  {
		width: 16px;
		height: 16px;
	}
		}
	}
	h4 {
		float: left;
		width: 60%;
		margin-bottom: 0.5rem;
		line-height: .7;
	@include media-breakpoint-up(md){ 
		padding-top: 0;
		}
	@include media-breakpoint-up(lg){ 
		width: 70%;
		}
	}
	.forward-link{
		margin-left: 0;
		@include media-breakpoint-up(sm) {
			margin-left: 3.8rem;
		}
	}
	a.forward-link__anchor {
		font-size: 1rem;
		vertical-align: top;
		padding-left: 0.5rem;
	}

}


/*----------------------------------------------  
TEMPLATE CONTENT CUSTOM STYLES - SEE ALSO MIXINS 
------------------------------------------------*/


//INCLUDES MAIN BODY P TEXT

.site-content {
	p, 
	.eight-by-four,
	.six-by-six {
		@include body-content-text;
		}

	.eight-by-four .forward-link a,
	.six-by-six  .forward-link a {
		font-size: 1rem;
	}


// STANDFIRST

	.page-intro, 
	.page-intro p {
		@include standfirst;
		margin-bottom: 1.8rem;
		}


// SECTION HEADER WITH BLACK TOP BORDER
// NB SEE ALSO LAYOUT PATTERNS FOR MODIFICATIONS TO H2 STYLING 
	.main-content h2 {
		border-top: solid 1px #333;
		padding-top: 1.875rem;
		margin-top: 1.875rem;
		clear: both;
	}



	// COURSE PAGE LOCATION DETAILS NOT USED IN CURRENT VERSION.

	.top-course-details {
		color: #5c5c5c;
		margin-bottom: 2.8125rem;
	}


	
	.right-column {
		& > h3,
		.view-list h3,
		.contact-info h3  {
			border-top: solid 1px $darkgray;
			padding-top: 1.25rem;
			 }
		p {
			margin-bottom: 0.75rem;
			}

		.contact-info { 
			h4 {
				font-weight: bold;
				margin-top: 1.875rem;
				}	
			margin-bottom: 2.5rem;
			}	
		}

	.view-list ul,
	.right-page-nav ul {
		padding:0;
		list-style: none;
		
		li {
			font-size: 1.125rem;
			line-height: 1.875;
			&:before {
				content: none;
			}
		}
	}
}

/*-----------------------
HORIZONTAL RULES
-------------------------*/

hr.hr-line--dark-grey {
	border-top: 1px solid #333333;
	margin-bottom: 1.5em;
}