

// $brightblue: #0097A9;
$brightblue: #00818F;
$yellow: #F6BE00;
$brightpink: #AC145A;
$utilityblue: #0D68CF;
$utilityred: #D50032;
$utilitygreen: #238638;
$linkblue:  #0D68CF;
$linkbluehover:  #094991;
$orange: #ea7600;


$buttonrollover: #094991;
$darkgray: #333333;
$pxlinegraydark: #adadad;
$pxlinegraylight: #d6d6d6;
$backgroundlightgray: #f5f5f5;



$bartlettgreen: #00534c;
$bartlettpink: #f9b5c4;
$bartlettviolet: #440099;
$bartlettturquoise: #8ce2d0;
$bartlettpurple: #702082;
$bartlettpeach: #F3CFB3;
$bartlettorange: #FF8200;
$bartlettyellow: #FCE300;
$bartlettblue: #1A2BF2;
