// CUSTOM LAYOUT TWEAKS FOR PROSPECTUS
// MOSTLY RELATES TO THE DIFFERENT LEFT AND RIGHT CONTENT MARGINS


/*-----------------------
HUB PAGE LAYOUT
------------------------*/

.site-prospective-students-graduate.node-type-hub-page,
.site-prospective-students-undergraduate-redesign.node-type-hub-page,
.site-prospective-students-undergraduate.node-type-hub-page {

	.site-content .main-content h2 {
		border-top: 0;
		padding-top: 0;
		margin-top: 0;
	}


	@include media-breakpoint-up(md){
	.single-full-width-column { 
		padding-right: 8.522%; 
		padding-left: 8.522%;
		}
	}
}

.site-prospective-students-graduate,
.site-prospective-students-undergraduate-redesign,
.site-prospective-students-undergraduate { 

/*---------------------------------
SECTION PADDING
-----------------------------*/

.section-background  { 
	padding: 3.75rem 0;
}


/*-----------------------------
DROP SHADOW FOR CONTACT BOX
--------------------------------*/
.contact-panel .card-wrapper {
		box-shadow: 3px 10px 10px -6px rgba(51,51,51,0.75);
		}
}

// TEMPORARY OVERRIDE OF FLEX HEIGHT FOR CARDS ON HOMEPAGE 
// THESE WERE ADDED BEFORE HEIGHT OPTION

#graduate-degrees  .paragraphs-item-card-link {
	height: auto;
	}

#graduate-degrees .item-background .paragraphs-item-card-link {
	height: 100%;
	}